[2020-11-09 18:43] kabronkline opened #4998 "How to Create a Custom Primary Authenticator?"
Is there any documentation available that describes the steps for developing and registering a custom primary authenticator in ADFS 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1c6f3c5-3b46-0c95-5293-802819ac729d
* Version Independent ID: c881178b-868a-a9a4-834e-c30e010e7dcc
* Content: [Additional authenticati

[2020-11-09 19:46] Kiwifulla commented on #4926
I would say the document could be improved by reiterating what @ixtlanian<https://github.com/ixtlanian> wrote on https://github.com/MicrosoftDocs/windowsserverdocs/pull/4988#issuecomment-723637268 - to cleanly disable the protocol by setting it as not available and not advertised (by default) then to set Enabled to 0 and DisabledByDefault to 1.

He has summed up what needs to be highlighted – also

[2020-11-09 21:21] illfated commented on #4926
Good call. I will do my best to find a way to place it within the existing document, but it might take a week for me to finish it (got more than enough to do at work. I am also going to ask for this ticket to be reopened, just to make it easier for myself to follow up on this ticket.

Feel free to add anything that might be helpful regarding the placement and so on.

[2020-11-09 21:22] illfated commented on #4926
#please-reopen

[2020-11-09 21:24] illfated commented on #4926
#please-open

[2020-11-09 21:55] illfated commented on #4892
No reply after more than a month. I consider this a test ticket and choose to close it. Feel free to open a new ticket if you find that there still is a legitimate issue in the referenced document.

[2020-11-09 21:55] illfated commented on #4892
#please-close

[2020-11-09 21:55] #4892 closed

[2020-11-10 06:39] rbeesley commented on #1906
@steved0x, it looks like the defect I logged was fixed with 08645b607215017b85440074f1e196b2899c513a.

[2020-11-10 18:23] #3406 closed

[2020-11-10 19:11] illfated commented on #3406
@CJMakris : Thank you for having reported this issue. I am only sorry I did not realize how obvious this documentation issue is, because the "help" parameter ( **/?** ) is not even mentioned in the command line options.

See also my closing PR #4999 for details on the table line removal. Thanks again for your contribution.

[2020-11-10 19:42] conyg commented on #4787
Is there a work-around for this?

[2020-11-10 19:52] conyg opened #5000 "Clarification needed"
The documentation should be more clear on what need to be installed on the server and what needs to be installed on the client
Ex: **OpenSSHUtils** should be installed only on the server (helpful to repair permissions)
while **ssh-agent** should be installed  / started only on the client (to store keys that will be used to connect to the server)

---
#### Document Details

⚠ *Do not edit this sect

[2020-11-10 19:53] illfated commented on #4595
I would preferably like to see the table updated to use an image tick mark ✔️ to show what is supported, but I will have to check the codestyle for the whole page, its sibling pages, and its parent page first, to see if this is a usable solution.

[2020-11-10 20:00] illfated commented on #4595
Oh. I browsed the file changes in the commits (history) here on GitHub,
- https://github.com/MicrosoftDocs/windowsserverdocs/commits/master/WindowsServerDocs/remote/remote-desktop-services/clients/rdp-files.md

and found that this has already been rectified. Please see links below for the relevant change.

[2020-11-10 20:03] illfated commented on #4595
See commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/215506254db29593d955b7c9e30ef24bdfa7ad2e for the change of " **X** " to "Yes" and " " to "No". Note also that the column title "Windows Virtual Desktop" has been expanded to **Windows Virtual Desktop support**.

[2020-11-10 20:04] illfated commented on #4595
#please-close

[2020-11-10 20:04] #4595 closed

[2020-11-10 20:06] illfated commented on #4595
@CJMakris : Thank you for your initial report. It seems to have worked well, because the change was made, only with no reference to this ticket. I can only surmise that there could have been more than this report about the table being confusing, so I hope you were pleased to see the update 4 months ago.

[2020-11-10 20:48] illfated commented on #4133
I hope this PR (#5001) will be more useful by not colliding with any other major projects in the MS Docs team's work schedule.

[2020-11-10 20:55] illfated commented on #5000
@konstruktoid : Would this be related to your PR and your proposed changes to the referenced page?

[2020-11-10 21:21] konstruktoid commented on #5000
Yeah, https://github.com/MicrosoftDocs/windowsserverdocs/pull/4788

@conyg Are you sure about `OpenSSHUtils` most issues mentions its deprecated?

[2020-11-10 22:38] illfated commented on #4137
The issues seem to have been fixed in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/ad297d36711efc8984d6e6daac7b62fb71d49ab9 (direct file link https://github.com/MicrosoftDocs/windowsserverdocs/commit/ad297d36711efc8984d6e6daac7b62fb71d49ab9#diff-7e2ab1efb4bd8b1b5e4b30617757e058c954c9f5b075997de6b492665ad355b4).

[2020-11-10 22:40] illfated commented on #4137
Anyway, the page looks like it is correct now. If it is not, please open a new ticket from the link named **[ This page ]** at the bottom of the document page itself.

[2020-11-10 22:50] adrianhale opened #5002 "Grammar"
Add "a" and "."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f43fec44-fdc4-3f92-291e-a46c10cd4aee
* Version Independent ID: 0ed1458c-2026-696f-a7d1-f964137e1377
* Content: [Securing privileged access](https://docs.microsoft.com/en-us/windows-server/identity/securing-privileged-access/securing-privileged-access)
* Con

[2020-11-10 22:54] illfated commented on #5002
@adrianhale : Could you reference which sentence this is about, to make it easier for someone like me to write a correction PR to the document?

[2020-11-10 22:59] adrianhale commented on #5002
Yes sorry. I got a error from GitHub but this still submitted somehow.

https://docs.microsoft.com/en-us/windows-server/identity/securing-privileged-access/securing-privileged-access#1-require-windows-hello-for-business-and-mfa

Administrators can benefit from the ease of use associated with Windows Hello for Business. Admins can replace their complex passwords with strong two-factor authenticatio

[2020-11-10 23:04] illfated commented on #5002
Thank you very much. From what I can remember, I view you as a reliable source for valid feedback and assumed that something unexpected could have happened. Fair enough. I can implement your suggested change, as well as adding some missing commas for readability.

Feel free to add anything else in need of improvement you find on the page, so I can add that to the list of changes. 🙂

[2020-11-10 23:19] #4996 closed

[2020-11-10 23:42] conyg commented on #5000
When OpenSSH is installed (at least on Windows Server) `OpenSSHUtils` is missing.
I had to configure OpenSSH today and definitely this tool is needed.

People were downloading it from a different source (ex [PowerShell gallery](https://www.powershellgallery.com/packages/OpenSSHUtils/1.0.0.1)). This is now deprecated and I don't know where the most recent version is.

I think everybody is expecting

[2020-11-11 00:32] illfated commented on #5002
There you go. PR #5003 is ready for review. Feel free to browse, review, comment or suggest more improvements.

[2020-11-11 00:54] illfated commented on #2075
Could be, not sure. Just to see if it is possible to get more feedback, let me ask the following:

Can your issue of unsupported kernel be resolved by the following suggested procedure?

1. Disable automatic updates.
2. Uninstall the LIS downloadable packages.
3. Update the kernel.
4. Reboot.
5. Install the latest LIS release.
6. Reboot again.

[2020-11-11 02:54] Rajrup opened #5004 "i386"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25943cc5-9927-5ca7-b9db-4c1d398726c5
* Version Independent ID: ae5bf48b-26cf-b5c8-22c8-68fa9a70258f
* Content: [Linux Software Repository for Microsoft Products](https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-f

[2020-11-11 02:56] #5004 closed

[2020-11-11 05:18] Kryptoniteee opened #5007 "Cannot connect to server in WAC through VPN connection"
When i was in the office, I could connect to the server through WAC perfectly. But when I am at home and vpn into the office, I cannot access server through WAC.  I get this error:
![image](https://user-images.githubusercontent.com/50315842/98772069-d8d01100-2420-11eb-8486-e9cfb68dca88.png)

I have already checked that the port was configured to allow WAC connection
![image](https://user-images.gi

[2020-11-11 11:46] konstruktoid commented on #2075
Could solve it, but iirc the issue was that the LIS release didn't sync with the available kernels.

[2020-11-11 11:49] konstruktoid commented on #5000
`OpenSSH_KeyManagement.md` is about key management after the service has been installed.
I believe you should be following https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/administration/OpenSSH/OpenSSH_Install_FirstUse.md before reading the content source mentioned in this issue.

[2020-11-11 17:54] illfated commented on #2075
👍🏻 Thanks for the feedback. Always good to get feedback from those who know more than me. 🙂

[2020-11-11 18:55] #3389 closed

[2020-11-11 18:56] #3373 closed

[2020-11-11 19:06] #4133 closed

[2020-11-12 01:20] bryhall commented on #2039
I'm so sorry @dineshazure / @gabrielmccoll.  I never noticed the notifications about these messages.  It's probably way too late to be useful to you but to answer your question (based on my experience):

While RRAS is capable of assigning an off-network IP (one that is different than the networks that are physically connected to the RRAS server and is really an additional network attached to RRAS)

[2020-11-12 01:57] ggondim commented on #2074
I'm also getting this on Windows 10 Enterprise Insider Preview Build `20150.rs_prerelease.200612-1734`

Tried the workarounds (none worked):

- group policy
- registry (both HKLM\Software\Policies\Microsoft\Windows\WindowsUpdate\AU and HKLM\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate)
- disabling delivery optimization in settings
- tried to install all RSAT capabilities (same error code 0x80

[2020-11-12 03:09] ggondim commented on #2074
Somehow it was related to Insider Preview update...

Before the error, I installed a Dev release manually but I stayed in the Beta release channel. Today I changed it to Dev channel and updated to `Build 20257.fe_release.201106-1554` and it solved the problem.

Windows Update seems to be confused if you install a Dev release manually and stays at Beta release channel.

[2020-11-12 04:16] #5002 closed

[2020-11-12 05:15] chris-dma opened #5011 "Server Core Roles and Services in-accurate for Windows Server 2019"
The page states that it is applicable to Windows Server 2019. However it states that Rd Connection Broker and RD Virtualisation Host are roles services included in Server Core. These are no longer available in Windows Server 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6103ae47-7634-9ca9-aa94-200cddcda251
* Ver

[2020-11-12 08:26] rikat-ms commented on #4986
See this issue which talked that TFS2017/TFS2018 is **NOT** supported on Windows Server 2019.
https://github.com/MicrosoftDocs/azure-devops-server-docs/issues/115

[2020-11-12 13:21] valar0213 opened #5013 "@mcfi : Thanks for your contribution! The author(s) have been notified to review your proposed change."
@mcfi : Thanks for your contribution! The author(s) have been notified to review your proposed change.

_Originally posted by @PRMerger18 in https://github.com/MicrosoftDocs/windowsserverdocs/pull/4997#issuecomment-724170302_

[2020-11-12 17:44] pronichkin commented on #5011
Thank you for the report, you are correct. We will fix that.

[2020-11-12 19:22] conyg commented on #5000
My comment is related to [this page](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement).  When I clicked the link to give Feedback about that page I was sent here.

You are right: It is about key management and this is a quote from the page that I am referring to:

Install-Module -Force OpenSSHUtils -Scope AllUsers

Get-Service -Name ssh-agent | Set-Servi

[2020-11-12 19:26] illfated commented on #4994
@jackvdbuk : Thank you for creating a ticket about the issue and for asking.

@Heidilohr : Will there be an update later, maybe provided by the tech team, to add to the referenced page?

[2020-11-12 20:11] konstruktoid commented on #5000
That page, https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement, is getting rewritten by #4788

[2020-11-12 20:33] illfated commented on #5013
Please don't add unhelpful tickets.

[2020-11-12 20:33] illfated commented on #5013
#please-close

[2020-11-12 20:33] #5013 closed

[2020-11-12 20:50] illfated commented on #605
The ticket question is about the following section, https://docs.microsoft.com/en-us/windows-server/administration/windows-server-update-services/plan/plan-your-wsus-deployment#wsus-with-sql-server :

#### WSUS with SQL Server
We recommend that you use SQL Server with WSUS in the following cases:

1.  You require an NLB WSUS solution.

2.  You already have at least one instance of SQL Server insta

[2020-11-12 20:55] illfated commented on #605
To me, it reads as follows:

|  #  | Scenario | Recommendation |
| --- | :------- | :------------- |
|  1  | If you require an NLB WSUS solution | use SQL Server with WSUS. |
|  2  | If you already have at least one instance of SQL Server installed | use SQL Server with WSUS. |
|  3  | If you cannot run the SQL Server service under a local non-system account<br> or by using SQL Server authenticati

[2020-11-12 21:05] illfated commented on #5011
@chris-dma : Thanks for your report. There is already a PR opened for this exact case: #4913 (**Update server-core-roles-and-services.md**)

[2020-11-12 22:28] illfated commented on #4986
@shunkino : Feel free to start a PR to suggest removing Team Foundation Server 2017 & 2018, in addition to adding Azure DevOps Server 2019 / 2020 for the table in this document.

[2020-11-12 22:53] illfated commented on #2539
I believe the information below is what the correct button would have presented, if this ticket had been opened via the button labeled **[ This page ]** :

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85eb6a21-2659-019a-71ab-66f2e3a7f474
* Version Independent ID: ee2ab576-3c19-15a5-8c41-29a00275

[2020-11-12 23:12] illfated commented on #3202
(ref. #4842 )

[2020-11-12 23:14] illfated commented on #3202
#please-close

[2020-11-12 23:14] #3202 closed

[2020-11-13 00:03] #4749 closed

[2020-11-13 00:21] illfated commented on #3958
Issue resolved in PR #4752 / commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/01b3140f79f5614ce566e8036474feefafbeddc3 .

[2020-11-13 00:22] illfated commented on #3958
#please-close

[2020-11-13 00:22] #3958 closed

[2020-11-13 00:45] shunkino commented on #4986
@illfated Thanks for your response! I will write PR.

[2020-11-13 16:33] KalleOlaviNiemitalo opened #5014 "Incorrect hyperlinks to "Step 1: Plan the Web Application Proxy Infrastructure""
The article contains some incorrect hyperlinks:

- Two links "Additional Authentication Methods" point to [Step 1: Plan the Web Application Proxy Infrastructure](<https://docs.microsoft.com/en-us/previous-versions/orphan-topics/ws.11/dn383648(v=ws.11)>), which does not discuss authentication methods. Those links should perhaps point to [Configure 3rd party authentication providers as primary authe

[2020-11-13 16:39] KalleOlaviNiemitalo commented on #4981
A link to <https://docs.microsoft.com/virtualization/windowscontainers/about/containers-vs-vm> or <https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/hyperv-container> might help.

[2020-11-13 17:57] ac05219 opened #5015 "Error codes not listed"
I came to this page looking for the error return codes for the forfiles command. I have a bunch of scheduled tasks that are returning an error code of 1 when they don't find any files and I was hoping to find the error codes so I could know which ones to ignore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b1a260b-a

[2020-11-13 21:26] illfated commented on #5014
@KalleOlaviNiemitalo : Thank you for reporting and even more so for including detailed suggestions for what the links should be instead.

I will have a go at updating the links, hopefully this weekend.

[2020-11-13 21:42] illfated commented on #517
(ref. #929 (**Error in instructions?**) )

[2020-11-13 21:47] illfated commented on #2539
After browsing and searching for WSUS version numbering, WSUS appears to have version numbers up to 10, unless I am mistaken. There is also the issue of sentence grammar, looking like it should have a different version number to 3.2 in the second line, just to make sure it is different from those Windows / Windows Server versions higher than Windows 8.x / 2008 R2.

[2020-11-13 23:05] illfated commented on #1906
@rbeesley : Thank you for pointing out that detail and that it seems to be corrected.

[2020-11-13 23:10] illfated commented on #1906
This issue ticket was in effect resolved by PR #3437 and commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/08645b607215017b85440074f1e196b2899c513a .

[2020-11-13 23:10] illfated commented on #1906
#please-close

[2020-11-13 23:10] #1906 closed

[2020-11-14 13:36] illfated commented on #3415
Hmm, I read this section/paragraph as meaning "make sure that the local Administrator account on all devices and all domains in the forest is not part of the Domain Administrators group". Am I missing the point here?

[2020-11-14 15:17] illfated commented on #3415
Ref. PR #5017 aiming to restore hidden placeholders by escaping the angle brackets with backslash or MD backticks encapsulation. Feel free to view, browse, comment and suggest further improvements.

[2020-11-14 16:22] illfated commented on #3926
( also ref. issue ticket #488 from the same page, needs an update )

[2020-11-14 16:23] illfated commented on #3981
( also ref. issue ticket #488 from the same page, needs an update )

[2020-11-14 16:23] illfated commented on #4415
( also ref. issue ticket #488 from the same page )

[2020-11-14 16:23] illfated commented on #4447
( also ref. issue ticket #488 from the same page )

[2020-11-14 16:24] illfated commented on #4713
( also ref. issue ticket #488 from the same page )

[2020-11-14 19:55] GetFitgardenercom opened #5018 "Very good page"
"https://docs.microsoft.com/en-us/windows-server/storage/disk-management/change-a-gpt-disk-into-an-mbr-disk" is a solid page that provided perfect information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 188314c1-f9b8-c4b5-61d7-dc726cc4a3e1
* Version Independent ID: a7420741-a2d7-f0a0-2df4-e66a6c382bef
* Content: [C

[2020-11-14 22:21] illfated commented on #5018
@GetFitgardenercom : Thank you for the nice feedback. Is there anything else you would like to share, before we close this ticket?

Please note: This page will still be searchable after closing, by using the search feature, or by clicking the link at the bottom of the page:
- :octocat: [View all page feedback](https://github.com/MicrosoftDocs/windowsserverdocs/issues?utf8=%E2%9C%93&q=%22a7420741-a

[2020-11-14 23:08] illfated commented on #5015
Unfortunately, not much is known about those older command-line commands like forfiles, particularly when it comes to commands used in MS-DOS batch scripts and their errorlevels on a programming level. The only practical pages I can come up with, except for suggesting to try asking or searching for answers on stackoverflow.com and similar forums, are as follows:
- https://docs.microsoft.com/en-us/

[2020-11-15 11:31] yaxye8123 opened #5019 "ipconfig"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d472fa7d-c960-de56-f804-a93e117b8fb3
* Version Independent ID: c8c28e1d-6555-59b5-24e4-69ec11a420ef
* Content: [macfile](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/macfile)
* Content Source: [WindowsServerDocs/admi

[2020-11-15 23:24] illfated commented on #5019
@yaxye8123 : Thank you for taking your time to check out the Feedback feature.

Please make sure to include a description when posting an issue ticket.

Feel free to open a new ticket when you have got a practical issue to report.

[2020-11-15 23:24] illfated commented on #5019
#please-close

[2020-11-15 23:24] #5019 closed

[2020-11-16 18:23] jeanfrancoislarente opened #5020 "Clarify SAC version nomenclature"
Note on SAC naming could be cleared up.

On the [Windows 10 page](https://docs.microsoft.com/en-us/windows/whats-new/whats-new-windows-10-version-20h2) there is a clear note that indicates that moving forward, SAC releases will follow YYH1, YYH2 in the future.

From Windows 10 page:

With this release and future releases, the Windows 10 release nomenclature is changing from a year and month patter

[2020-11-16 18:42] Teresa-Motiv commented on #4978
Investigated--this link actually appears twice in the file, and has probably never worked. The article exists, but it's internal-only content. I'll start a change order on the doc.

[2020-11-16 20:34] illfated commented on #4978
Thank you for keeping us informed. The disappearing content has kept me pondering a lot about what happens to outdated Microsoft documentation and the bottomless bit buckets of the internet.

[2020-11-17 01:20] #3400 closed

[2020-11-17 06:14] Eathonhsu opened #5022 "I wanna find out the Processor Sockets, Cores, Logical Processors calculation rules."
Hi, I wanna find out processor calculation rules.
Our team are developing the next generation of server product that config two physical sockets.
Please refer the figure, we are using in the _Windows Server 2019 Datacenter build 17763._
**Configuration:**
**Two** the next generation processors that included 38 cores. total are **76** cores.
The Performance of task manager will display **4** socket

[2020-11-17 07:24] ladylazy9x opened #5023 "need to say how to uninstall too"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25943cc5-9927-5ca7-b9db-4c1d398726c5
* Version Independent ID: ae5bf48b-26cf-b5c8-22c8-68fa9a70258f
* Content: [Linux Software Repository for Microsoft Products](https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-f

[2020-11-17 08:50] mehmetberber opened #5024 "See slso => See also"
Hi there,

The section at the very bottom of the page should be titled "See **a**lso" instead of "See **s**lso"

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2beddb54-a9ed-b53e-c8e1-152069c2c5c4
* Version Independent ID: 8aa0fe83-1e7f-3636-2122-477afd35a657
* Content: [Extend a basic volume](https://docs.mic

[2020-11-17 09:59] illfated commented on #5024
Good point, well spotted. Thanks! 🙂

[2020-11-17 14:27] rosenbom opened #5026 "Delimiting allocation doesn't work on storage tiers"
Consider you created a virtual disk using one storage tier and then you want to change a delimited allocation. In this case running Add-StorageFaultDomain and Remove-StorageFaultDomain cmdlets won't actually change the allocation.
If you try running those cmdlets against a storage tier, then both Add-StorageFaultDomain and Remove-StorageFaultDomain cmdlets will fail even though both cmdlets accept

[2020-11-17 15:34] JonathanPitre opened #5027 "Release Notes for 1.0.23.0"
The release notes for 1.0.23.0 is missing. Please update the page accordingly, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d692cf46-e5df-6425-8655-0e75a5c1fe83
* Version Independent ID: b6f6934e-a515-83e2-59f8-748ac0b472b9
* Content: [What's new in the web client](https://docs.microsoft.com/en-us/windows-

[2020-11-17 19:32] cthomasberg opened #5028 "Content still relevant?"
[Enter feedback here]
Is this content still relevant in terms of the requirement of local registry keys etc?
Maybe a reference and scenario/feature compare with the new preview feature https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-use-email-signin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-11-17 20:57] fmokren opened #5029 "Documentation not helpful"
This documentation needs examples on using the tool. Makecab.exe is a very complex tool and nearly impossible to use with out examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7d4f538-6c3b-43ba-1563-185f691d2134
* Version Independent ID: c85349af-411c-4cd4-e4c0-5a4d9147a59f
* Content: [makecab](https://docs.mic

[2020-11-17 23:46] illfated commented on #5018
#please-close

[2020-11-17 23:46] #5018 closed

[2020-11-18 00:13] KellisR opened #5030 "SMB2 Not Listed In Windows Features"
I'm going crazy. Only SMB1 is listed. How can I force Windows to get SMB2 and SMB3 from "someplace"???????
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6efee75e-7541-0166-76ac-81ecbe4cb022
* Version Independent ID: 35b346a7-ea72-325e-81c9-a1056dca72f4
* Content: [SMBv1 is not installed by defaul

[2020-11-18 11:45] Jahn08 opened #5032 "Web Client's About page and Feedback link are not correct"
The last section **Get help with the web client** mentions:

However, it seems irrelevant since there is no email on the web client's About panel.

![WEB_CLIENT_ABOUT](https://user-images.githubusercontent.com/23010028/99518575-cc5c3300-29a1-11eb-95d9-6af9cbb397ce.png)

On top of that, its Feedback link leads to a [non-working address](https://remotedesktop.uservoice.com/forums/911494-remote-deskt

[2020-11-18 12:14] gerrynicol opened #5033 "How to configure DNS on the DC's"
Please can you provide more information on how DNS should be set up on Domain controllers in Azure. If you have 2 domain controllers in a vnet and set the DNS to custom on the VNET (Using the two IP's of the DC's\DNS servers), what should the settings be in DNS within the TCP\IP properties of the nic in the VM. If you set it to 'Obtain DNS server address automatically' then both domain controllers

[2020-11-18 13:49] RAJU2529 commented on #5032
@Jahn08 . Which article are you referring to

[2020-11-18 13:52] RAJU2529 commented on #5030
@KellisR . You can use powershell command to enable SMB2 and SMB3

[2020-11-18 14:01] RAJU2529 commented on #5029
@fmokren . As a normal user, writing negative feedback is easily , but writing article with all necessary details with example in GitHub documentation is not easy.
Writing article needs complex skills with good formatting . .
so please change the title to different one.

[2020-11-18 14:12] Jahn08 commented on #5032
@RAJU2529, I added a link to the article in my question it's called [Get started with the web client](https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/remote/remote-desktop-services/clients/remote-desktop-web-client.md)

[2020-11-18 15:56] I-gor-C opened #5034 "Not all parameters listed for lodctr"
When running the `lodctr` tool, there are a lot more of additional available parameters listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4b3ac89-b24b-e0c9-3c32-6f341e99d256
* Version Independent ID: 5fbaecde-5418-5179-9690-17f87843a131
* Content: [lodctr](https://docs.microsoft.com/en-us/windows-server/administr

[2020-11-19 08:04] networld-its commented on #4781
i have the same exact issue, trying to upgrade windows server 2012 r2 standard to windows server 2019 standard.
doesnt allow me to keep my files and apps.

[2020-11-19 10:20] rualthan commented on #3610
@steved0x Any update?

[2020-11-19 18:04] neil007m opened #5037 "dash missing in command-line command for manage-bde pause"
[Enter feedback here]
change
`manage-bde pause C:`
to
`manage-bde -pause C:`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26f7d30-dde1-aed4-c476-cdb2e6629495
* Version Independent ID: aea33249-0859-932a-d556-390efe1b5a47
* Content: [manage-bde pause](https://docs.microsoft.com/en-us/windows-server/administration/win

[2020-11-20 00:59] illfated commented on #5037
@neil007m : Thank you for noticing and reporting that example typo. I will open a Pull Request to have that typo corrected.

[2020-11-20 01:22] illfated commented on #5037
There you go. PR #5038 is now ready for review, browsing, commenting & suggestions.

[2020-11-20 02:40] illfated commented on #3610
Would that I had discovered this issue ticket earlier, but anyway: I am looking through the updates now, just to see when the text you quoted above was removed.

[2020-11-20 02:48] illfated commented on #3610
Resolved as of August 27, 2020, 2:46 PM PDT, in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/1a63ac4e23a354a74b93c14cfce41448036ac78f (direct file link https://github.com/MicrosoftDocs/windowsserverdocs/commit/1a63ac4e23a354a74b93c14cfce41448036ac78f#diff-12a8b9a4606d80d6d1966e07db061de4e80298e32ee3dfdc427d3ea5931cca3f).

[2020-11-20 02:56] illfated commented on #3610
@rualthan : It looks like your reported issue has been solved, so I am going to close this ticket. If you still find that it has not been resolved, either reopen this ticket or open a new ticket with more details for the current version of the document page.

[2020-11-20 02:56] illfated commented on #3610
#please-close

[2020-11-20 02:56] #3610 closed

[2020-11-20 03:10] illfated commented on #5032
This is what the ticket could have looked like, if it had been opened via the button "This page":

![image](https://user-images.githubusercontent.com/38162891/99753228-27973e00-2ae6-11eb-9dd0-c27f23ae50e1.png)

***

(Your comment here)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c2644e-6037-8

[2020-11-20 03:23] illfated commented on #5032
Disclaimer: I am not affiliated with Microsoft nor the Microsoft Docs teams here on GitHub. I may not know the topic well enough to give correct feedback on the topic.

Please also note: I have not used or tested this web app, it sounds a bit like there would be a company-designed About page with a contact address for the person or department responsible for the web-based remote desktop client acc

[2020-11-20 03:27] illfated commented on #5032
Looking closer at your image, it seems you don't have Telemetry, which seems to be required for support.

![image](https://user-images.githubusercontent.com/38162891/99754342-7f36a900-2ae8-11eb-9203-06582ef81b05.png)

( I could easily be wrong, I have not tested it. Although if I had, I would have tested this from a Windows computer.)

[2020-11-20 03:36] illfated commented on #4781
I haven't tested this myself, but if I were to troubleshoot your issues, I would have started looking at the Microsoft Update / Windows Update status of your servers, then checked the list of installed programs to see if any of those are either not supported on Server 2019 or not updated to its newest status.

I could be wrong, of course. There are several unanswered questions and I don't know hal

[2020-11-20 05:13] Jahn08 commented on #5032
@illfated thank you for your help! Since I've stumbled upon this document on GitHhub, there was no such a button to create a well formatted issue! I've edited my initial comment.

If it's telemetry to blame, perhaps, it should be mentioned in that document too.

[2020-11-20 05:17] Jahn08 commented on #5032
@illfated both links are still unresponsive for me: I've tried to open them in Chrome and Mozilla. It's hardly possible that my OS is responsible for rendering web pages.

[2020-11-20 05:40] illfated commented on #5032
Hmm, that is a weird browser issue. I have tested that web page only from a Windows 10 Home (x64) laptop, using Google Chrome, Version 86.0.4240.198 (Official Build) (64-bit), Mozilla Firefox 82.0.3 (64-bit) & 83.0 (64-bit), and Microsoft Edge (chromium-based) Version 86.0.622.69 (Official build) (64-bit) &  87.0.664.41 (Official build) (64-bit). All of them show the web page as expected & intende

[2020-11-20 05:50] RAJU2529 commented on #5032
@illfated . could you tell me, which website you tried to open, paste the website link here .

[2020-11-20 05:51] Jahn08 commented on #5032
@illfated, I've just tried opening it on Windows 10 being connected to my work computer by the web client with the same unsatisfying result for both Edge (86.0.622.69) and Chrome (86.0.4240.111).

[2020-11-20 05:55] illfated commented on #5032
@RAJU2529 : These 2 links are the ones I manage to get working from my computer, but @Jahn08 seems to be blocked from reaching:
- https://remotedesktop.uservoice.com/forums/911494-remote-desktop-web-client
- https://remotedesktop.uservoice.com/

I checked the pages again, just now, to see if I was logged in with my Microsoft account, but not in that site. So I don't know exactly why other users ca

[2020-11-20 05:59] illfated commented on #1103
@PabloJoaquin : Thank you for your nice comment. I am going to close this issue ticket now, since it does not seem to contain any documentation improvement suggestions or request for new updates. Feel free to create a new issue ticket if you find something in need of correction or updating.

[2020-11-20 05:59] illfated commented on #1103
#please-close

[2020-11-20 05:59] #1103 closed

[2020-11-20 06:01] illfated commented on #1367
#please-close

[2020-11-20 06:01] #1367 closed

[2020-11-20 06:01] illfated commented on #1368
#please-close

[2020-11-20 06:01] #1368 closed

[2020-11-20 06:02] illfated commented on #1341
#please-close

[2020-11-20 06:02] #1341 closed

[2020-11-20 06:03] illfated commented on #1342
#please-close

[2020-11-20 06:03] #1342 closed

[2020-11-20 06:05] illfated commented on #2144
Thank you, both for your PR #2145 and for confirming the resolved issue.

[2020-11-20 06:06] illfated commented on #2144
#please-close

[2020-11-20 06:06] #2144 closed

[2020-11-20 06:10] illfated commented on #799
Issues described above seem to be resolved. Please open a new ticket if there are any remaining issues in need of follow-up.

[2020-11-20 06:10] illfated commented on #799
#please-close

[2020-11-20 06:10] #799 closed

[2020-11-20 06:13] illfated commented on #1128
#please-close

[2020-11-20 06:20] illfated commented on #1101
The `more` command has already got usage examples. IT Pro admins should know this from their early education steps.

[2020-11-20 06:20] illfated commented on #1101
#please-close

[2020-11-20 06:20] #1101 closed

[2020-11-20 06:26] illfated commented on #1107
#please-close

[2020-11-20 06:26] #1107 closed

[2020-11-20 06:28] illfated commented on #1205
#please-close

[2020-11-20 06:28] #1205 closed

[2020-11-20 08:18] Taomyn opened #5039 "Is the SPN for ADFS host/ or http/?"
Is the SPN for ADFS host/ or http/ because most other places including MS documents show it as host/ ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae6d9d8-4a22-f41e-a43f-b88816ae4519
* Version Independent ID: aad0e220-49d9-b9bc-10b7-ea0155af1d96
* Content: [AD FS Troubleshooting - Integrated Windows Authentication]

[2020-11-20 08:30] RAJU2529 commented on #5032
@illfated . Just now I checked on Android 10 based smartphone, both the links are opened without problems.
on chrome v87.0.4280.66
on edge browser v45.10.24.5088

i am in college now, I will check in laptop once I reach to my home and then I update the status

[2020-11-20 13:24] MrPeppah opened #5040 "Windows Remote Management for Server Core 2019"
For Server 2019,

This article should be updated to remove the reference:
Enable-NetFirewallRule -DisplayGroup "Remote Administration" and then replace it with:
Enable-NetFirewallRule -DisplayGroup "Windows Remote Management"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcb12aed-dce1-d2e8-c5bd-da2c2fec5bc9
* Version

[2020-11-20 13:25] MrPeppah commented on #5040
`PS C:\Users\user> Enable-NetFirewallRule -DisplayGroup "Remote Administration"
Enable-NetFirewallRule : No MSFT_NetFirewallRule objects found with property 'DisplayGroup' equal to 'Remote
Administration'.  Verify the value of the property and retry.
At line:1 char:1
+ Enable-NetFirewallRule -DisplayGroup "Remote Administration"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    +

[2020-11-20 17:54] verakot opened #5041 "Need to shown an example of a key with spaces"
For example HKLM\SOFTWARE\Microsoft\Windows Script Host\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd817f1d-e494-af38-4a10-86360d63c195
* Version Independent ID: 11fcbf91-6c28-9ae8-045a-35ea97444dfe
* Content: [reg add](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/reg-add)
* Cont

[2020-11-20 18:20] illfated commented on #5032
Thank you for testing those links from other operating systems than Windows, that helps us narrow down the amount of possible suspects.

@Jahn08 : Could it be some form of geo-location issue, that your Linux computer might have some rigorous security, or that some form of firewall is blocking your access to those pages? I don't know, but it feels a little bit like if your scenario could be compare

[2020-11-20 18:35] Teresa-Motiv commented on #4978
I've created a PR on the internal repo to fix this issue. I'm not able to link the PR directly to this issue, but the PR number is 1471.

[2020-11-21 06:08] illfated commented on #1334
Partially resolved in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/7f71d35d985520cc4517109469903a9ff61d67ca (direct file link https://github.com/MicrosoftDocs/windowsserverdocs/commit/7f71d35d985520cc4517109469903a9ff61d67ca#diff-9fc6614388de52dd73c920a67e627fa6a65dff5d4d3d958f58bb15444eb7b6b0) and later fully resolved in commit https://github.com/MicrosoftDocs/windowsserverdoc

[2020-11-21 06:09] illfated commented on #1334
#please-close

[2020-11-21 06:09] #1334 closed

[2020-11-21 07:26] illfated commented on #4978
👍🏻 Thank you. I am aware of the internal repo for the MS Docs team members, and also why it is not useful to link anything from it for other users. 🙂

[2020-11-21 07:29] rualthan commented on #3610
@illfated Sorry, what is the solution?

[2020-11-21 07:37] illfated commented on #3610
@rualthan : As far as I am aware, commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/1a63ac4e23a354a74b93c14cfce41448036ac78f seems to be the solution. If you still find that there is an issue in the document, please open [a new ticket](https://github.com/MicrosoftDocs/windowsserverdocs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%2

[2020-11-21 10:25] illfated commented on #5027
@briantaintor , @Heidilohr : Do you have a pointer to the documentation for version 1.0.23.0 , for me to suggest in a PR, or simply your own access to the information to make a PR yourself in the MS Docs team repo for internal review?

[2020-11-21 11:36] msft-jasonparker opened #5043 "Broken link"
Broken link:  To learn more about this feature, check out https://aka.ms/paa-sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0517ea6a-9417-31a8-39a5-f6128387fee5
* Version Independent ID: 7636ec70-e1dd-8c6b-516c-8af324d9f645
* Content: [Get started with the macOS client](https://docs.microsoft.com/en-us/windows-

[2020-11-21 11:59] ValZapod commented on #2065
I just found another bug. Apparently in some feature updates of windows "W32Time" service can switch from Automatic to Manual, that can lead to 0x1 flag also breaking. Very bad.

[2020-11-21 12:08] illfated commented on #5043
Resolves to https://docs.microsoft.com/samples/browse/?redirectedfrom=MSDN-samples

Going to open a PR and suggest changes, to get rid of old technet & MSDN links by replacing them with docs.microsoft.com URLs (if available).

[2020-11-21 12:11] illfated commented on #5043
Also: ref. recent commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/b813b5c92b6ddb6b55a66bbf568d5f7fca80d148 (direct file link https://github.com/MicrosoftDocs/windowsserverdocs/commit/b813b5c92b6ddb6b55a66bbf568d5f7fca80d148#diff-afc375680b97586e90c2d96617d9d4ced5204505ef8ed947d60fdc1ba39ac08c).

[2020-11-21 12:30] illfated commented on #5043
There you go, PR #5044 is ready for review, comments and suggestions.

[2020-11-21 12:56] illfated commented on #2065
You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request

[2020-11-21 13:00] illfated commented on #2065
For conclusion purposes:
- Is there anyone following this issue ticket who still see a need to change the documentation, and in case of yes, have you got a suggestion for what the changed content should look like?
- Is this issue discussed enough to reach a satisfactory conclusion?

Unless suggestions for actual change and content improvement appears, we should aim to close this issue ticket.

[2020-11-21 14:58] KellisR commented on #5030
Thanks, I appreciate the response. I "assumed" like SMB1 it would show in windows Features for me to check. So I kept looking for an indication it was truly enabled. Finely dawned on me it was on by default and not listed.  Hence the need for PowerShell.

[2020-11-21 16:53] illfated commented on #455
@montereyharris : I know it has been a long time (2.5 years) since you posted this issue ticket. This repository ticket system is used for documentation improvement suggestions. I can only assume that your original issue has been solved on your side since then.

Are there any specific parts in this document that needs improvement, do you know which parts should be changed or if there are any missi

[2020-11-21 16:54] illfated commented on #486
#please-close

[2020-11-21 16:54] #486 closed

[2020-11-21 19:42] Jahn08 commented on #5032
@illfated, I don’t think that this particular site is among prohibited in Russia, where I’m from. We don’t have a whole nation wide firewall here. However, it occurred to me that it’s Microsoft that might restrict the access for some countries, is it possible?

[2020-11-21 19:57] illfated commented on #5032
Thank you for the reply. Well, then I don't know what is causing the issue. Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub. Hence I don't know whether Microsoft uses any geo-location or not.

[2020-11-21 21:43] illfated commented on #5022
You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request

[2020-11-22 03:31] RAJU2529 commented on #5040
@MrPeppah , What you  said is  correct, thanks for pointingout. I am fixing the error now.
![Capture1](https://user-images.githubusercontent.com/3296790/99892995-43930f00-2ca1-11eb-8cd3-475028e7fe79.JPG)

[2020-11-22 15:53] donadam2015 opened #5047 "Donel Adams/ Donadamassociates"
Fostering business development through my associate networks to maximize any platforms growth potential utilizing ai and cloud
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82e6ef-7f35-9672-2ca3-9006de31b2cf
* Version Independent ID: 1dca040b-d5ba-8449-627b-b3069bd9be0e
* Content: [DirectAccess

[2020-11-22 18:21] Jahn08 commented on #5032
@illfated, thank you for your responsiveness. It would be great if someone official from Microsoft could unravel the mystery. Though as far as I understand, they haven’t replied yet.

[2020-11-22 22:57] illfated commented on #5032
Well, this repository (and its parallel MicrosoftDocs repositories) are intended to be used to report issues with the documentation and suggestions for improvements to the documentation. In this ticket, it is about the page [Get started with the web client](https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/clients/remote-desktop-web-client) and what should be done to i

[2020-11-22 23:37] illfated commented on #5047
#please-close (unrelated to the referenced documentation page)

[2020-11-22 23:37] #5047 closed

[2020-11-23 09:10] SnoWolfT opened #5049 "Is "Windows Server 2019” also included in Azure Hybrid Benefit?"
The last update of this document is 11/10/2017. Customer wants to double confirm whether "Windows Server 2019” is also included in Azure Hybrid Benefit?

Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90e335dd-0bc5-a7e3-650b-e3dd1823176b
* Version Independent ID: 18f34ef3-ff61-0473-a64b-ac5a64dbe1d7
* Content

[2020-11-23 15:51] libor-p opened #5051 "Microsoft repository https://packages.microsoft.com/rhel/8/prod/ has invalid repodata"
**Issue description:**
It is not possible sync repository https://packages.microsoft.com/rhel/8/prod/ because there are differences in sha256 checksums.

**Repository URL:**      https://packages.microsoft.com/rhel/8/prod/
**Example of affected package:**      adutil-preview-0.7.022-1.x86_64.rpm

[MIRROR] adutil-preview-0.7.022-1.x86_64.rpm: Downloading successful, but checksum doesn't match. Calc

[2020-11-23 17:54] illfated commented on #4636
#please-close

[2020-11-23 17:54] #4636 closed

[2020-11-23 17:54] illfated commented on #4418
#please-close

[2020-11-23 17:54] #4418 closed

[2020-11-23 17:55] illfated commented on #4299
#please-close

[2020-11-23 17:55] #4299 closed

[2020-11-23 18:01] illfated commented on #4141
You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Please contact your closest Microsoft Support department to get help with your issue.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to improve on the existing documentation by

[2020-11-23 18:01] illfated commented on #4141
#please-close

[2020-11-23 18:01] #4141 closed

[2020-11-23 19:54] illfated commented on #4830
#please-close

[2020-11-23 19:54] #4830 closed

[2020-11-23 20:01] illfated commented on #4716
Conclusion: The entirety of the article applies to supported versions of Windows client and server OS versions.

The individual audit setting recommendation tables also apply to the unsupported OS version 2008, but only for reference and because the settings are the same.

[2020-11-23 20:01] illfated commented on #4716
#please-close

[2020-11-23 20:02] #4716 closed

[2020-11-23 20:03] illfated commented on #4777
#please-close

[2020-11-23 20:03] #4777 closed

[2020-11-23 20:04] illfated commented on #4070
#please-close

[2020-11-23 20:04] #4070 closed

[2020-11-23 20:04] illfated commented on #4762
#please-close

[2020-11-23 20:04] #4762 closed

[2020-11-23 20:05] illfated commented on #3546
#please-close

[2020-11-23 20:06] #3546 closed

[2020-11-23 20:06] illfated commented on #4215
#please-close

[2020-11-23 20:06] #4215 closed

[2020-11-23 20:07] illfated commented on #2484
#please-close

[2020-11-23 20:07] #2484 closed

[2020-11-23 20:07] illfated commented on #658
#please-close

[2020-11-23 20:07] #658 closed

[2020-11-23 20:08] illfated commented on #625
#please-close

[2020-11-23 20:08] #625 closed

[2020-11-23 20:08] illfated commented on #3085
#please-close

[2020-11-23 20:08] #3085 closed

[2020-11-23 20:10] illfated commented on #4170
Ref. commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/7a6f5a884ff379c38bbe0eb9138180a5f4e662ae — Resolved.

[2020-11-23 20:10] illfated commented on #4170
#please-close

[2020-11-23 20:10] #4170 closed

[2020-11-23 20:11] illfated commented on #3678
#please-close

[2020-11-23 20:11] #3678 closed

[2020-11-23 20:11] illfated commented on #3849
#please-close

[2020-11-23 20:11] #3849 closed

[2020-11-23 20:11] illfated commented on #2930
#please-close

[2020-11-23 20:11] #2930 closed

[2020-11-23 20:12] illfated commented on #503
#please-close

[2020-11-23 20:12] #503 closed

[2020-11-23 20:12] illfated commented on #816
#please-close

[2020-11-23 20:12] #816 closed

[2020-11-23 20:13] illfated commented on #3757
#please-close

[2020-11-23 20:13] #3757 closed

[2020-11-23 20:14] illfated commented on #3886
#please-close

[2020-11-23 20:14] #3886 closed

[2020-11-23 20:15] illfated commented on #631
#please-close

[2020-11-23 20:15] #631 closed

[2020-11-23 20:15] illfated commented on #2535
#please-close

[2020-11-23 20:16] #2535 closed

[2020-11-23 20:16] illfated commented on #1766
#please-close

[2020-11-23 20:16] #1766 closed

[2020-11-23 20:19] illfated commented on #4142
Sorry for taking so long to point it out, but SMBv1 has been deprecated for a long time and is replaced with the default version SMBv2 in all supported versions of Windows.

[2020-11-23 20:19] illfated commented on #4142
#please-close

[2020-11-23 20:19] #4142 closed

[2020-11-23 20:21] illfated commented on #834
#please-close

[2020-11-23 20:21] #834 closed

[2020-11-23 20:21] illfated commented on #1242
#please-close

[2020-11-23 20:21] #1242 closed

[2020-11-23 20:22] illfated commented on #551
#please-close

[2020-11-23 20:22] #551 closed

[2020-11-23 20:22] illfated commented on #898
#please-close

[2020-11-23 20:22] #898 closed

[2020-11-23 20:23] illfated commented on #4862
#please-close

[2020-11-23 20:23] #4862 closed

[2020-11-23 20:23] illfated commented on #4833
#please-close

[2020-11-23 20:23] #4833 closed

[2020-11-23 20:23] illfated commented on #4861
#please-close

[2020-11-23 20:23] #4861 closed

[2020-11-23 20:24] illfated commented on #4420
#please-close

[2020-11-23 20:24] #4420 closed

[2020-11-23 20:26] illfated commented on #4433
#please-close

[2020-11-23 20:26] #4433 closed

[2020-11-23 20:27] illfated commented on #4412
#please-close

[2020-11-23 20:27] #4412 closed

[2020-11-23 20:28] illfated commented on #951
#please-close

[2020-11-23 20:28] #951 closed

[2020-11-23 20:29] illfated commented on #3816
#please-close

[2020-11-23 20:29] #3816 closed

[2020-11-23 20:29] illfated commented on #3046
#please-close

[2020-11-23 20:29] #3046 closed

[2020-11-23 20:30] illfated commented on #2075
#please-close

[2020-11-23 20:30] #2075 closed

[2020-11-23 20:31] illfated commented on #2065
#please-close

[2020-11-23 20:31] #2065 closed

[2020-11-23 20:38] illfated commented on #773
Does this ticket provide enough information to help generate any constructive changes to the document?

[2020-11-23 20:40] illfated commented on #5051
@konstruktoid : Would you be able to verify the claim above from @libor-p ?

[2020-11-23 21:28] lucaberti opened #5053 "Key not recognized in Focal Fossa"
The procedure to add the repo-key in Ubuntu seems not to work on Focal Fossa:
curl -sSL https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
gpg: invalid key resource URL '/tmp/apt-key-gpghome.6Jpcq7bemm/home:manuelschneid3r.asc.gpg'
gpg: keyblock resource '(null)': Errore generale
gpg: key 1488EB46E192A257: 1 signature not checked due to a missing key
gpg: key 1488EB46E192A257:

[2020-11-23 21:52] konstruktoid commented on #5051
There is multiple issues with that repository.
Running `sudo rpm -Uvh https://packages.microsoft.com/config/rhel/8/packages-microsoft-prod.rpm` as instructed on https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software fetches the correct RPM but the repo baseurl is incorrect, `rhel/8.0/prod` should be `rhel/8/prod`.

[code]

[code]

I can howev

[2020-11-23 23:03] illfated commented on #5051
Thanks a lot. That makes it much easier to find out if we are dealing with a documentation repo issue or a software package repo issue.

Looking up `rhel/8.0/prod` via a web search, there appears to be other tickets for this already here on GitHub, but they are all closed:
- https://github.com/Azure/azure-storage-fuse/issues/381
- https://github.com/Azure/azure-storage-fuse/issues/396
- https://gi

[2020-11-23 23:07] illfated commented on #5032
Knowing that this repository is intended for direct improvement of the documentation by reporting issues in the document pages, and not so much about reporting issues in the software itself, do you know if there is anything we can do to improve the related document page(s), or is this almost exclusively about the software contents?

[2020-11-23 23:14] illfated commented on #796
@sjakob52 : Sorry that it has taken so long to post a reply to your issue ticket. Please note that this repository is intended for improvement of the Microsoft Docs documentation pages, not so much for troubleshooting software or the OS itself. I can only assume that your issue has already been resolved via other resources, so just to let you know what I would have suggested if I had been around t

[2020-11-23 23:14] illfated commented on #796
#please-close

[2020-11-23 23:14] #796 closed

[2020-11-23 23:16] illfated commented on #5053
@konstruktoid : Sorry to bother you again, but is this something we need to look into or fix in the existing Microsoft Docs pages?

[2020-11-23 23:21] illfated commented on #5032
Also: Please consider using the general Feedback feature in Windows to report issues with the software.
That is the common suggestion in most of the Microsoft Docs documentation repositories.

[2020-11-23 23:26] illfated commented on #455
@montereyharris : If you have not done so already, I hope you will consider opening a ticket with your local Microsoft Support tenant or use one of the related forums to discuss your issue. If you find any improvements that affects the referred MS Docs documentation page, please open a new ticket to have the page corrected.

For now, I will proceed to close this ticket and ask you to open a new ti

[2020-11-23 23:26] illfated commented on #455
You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request

[2020-11-23 23:30] illfated commented on #455
#please-close

[2020-11-23 23:30] #455 closed

[2020-11-23 23:55] illfated commented on #5032
To report a bug, you can use the Windows 10 Feedback Hub: https://aka.ms/AA160kq

[2020-11-24 00:00] illfated commented on #1089
@GillesRonsin and @mkupper : Thank you both for the discussion. You are quite right, this repository is only intended for MS Docs documentation improvement.

However, if you do find that there are errors, discrepancies, incorrect information or known missing information that the document page needs, feel free to open a new ticket with the necessary information to work on and possibly create a Pull

[2020-11-24 00:00] illfated commented on #1089
#please-close

[2020-11-24 00:00] #1089 closed

[2020-11-24 00:09] illfated commented on #1106
#please-close

[2020-11-24 00:09] #1106 closed

[2020-11-24 00:56] illfated commented on #5030
@KellisR : Thank you for the discussion. I hope you found this useful. It appears that your issue has been resolved via the answer from @RAJU2529 .

I will proceed to close this ticket, but feel free to open a new ticket if you have got suggestions for improving the MS Docs document pages.

[2020-11-24 00:56] illfated commented on #5030
#please-close

[2020-11-24 00:56] #5030 closed

[2020-11-24 01:14] Eathonhsu commented on #5022
Hi,  thanks for you information. I will close it.

[2020-11-24 01:14] #5022 closed

[2020-11-24 05:32] Emredrum opened #5054 "Images are not examples of descriptions. Incorrect DWORD values for DisabledByDefault"
[Enter feedback here]

Each image used in this document is incorrect.

Before each image it says "The following example shows XXX disabled in the registry:"

However, the images have 2 DWORDS shown with values of 0. This is not an example of disable.

DisabledByDefault value needs to be 1
Enabled values needs to be 0

I would also strongly suggest that the Client key is also added with identical v

[2020-11-24 09:43] libor-p commented on #5051
I'm using repository config file from  https://packages.microsoft.com/config/rhel/8/prod.repo . Content of the file is:

[packages-microsoft-com-prod]
name=packages-microsoft-com-prod
baseurl=https://packages.microsoft.com/rhel/8/prod/
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc

This is valid configuration. But issue is with repodata which are not aligned with pa

[2020-11-24 11:21] konstruktoid commented on #5051
Yeah, this isn't a documentation issue, but there doesn't seem to be any other smooth way to report issues like this.

@libor-p, you're correct as well. A repodata re-generation and a verification of `packages-microsoft-prod.rpm` should be done.

[2020-11-24 11:38] konstruktoid commented on #5053
Hi @lucaberti, I don't believe this is an issue with `microsoft.asc` being faulty.

There seems to be couple issues mentioning issues with the `manuelschneid3r.asc.gpg` key (https://askubuntu.com/questions/1246031/gpg-invalid-key-resource-url-following-docker-official-guide, https://github.com/RadeonOpenCompute/ROCm/issues/1254) and other issues mentioning `gpg: invalid key resource URL` (https://

[2020-11-24 11:54] lucaberti commented on #5053
Hello,
You are quote correct: the problem has been solved  by removing manuelschneid3r.gpg key. I find nevetheless somehow strange that everything worked before installing MS Keys and after removing them.

[2020-11-24 11:56] illfated commented on #827
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to impro

[2020-11-24 11:56] illfated commented on #827
#please-close

[2020-11-24 11:56] #827 closed

[2020-11-24 12:16] illfated commented on #596
@sicklittlemonkey : Sorry for picking up on this ticket so long after you first posted this. Looks like this could be a software related bug issue, at least that is the most likely scenario.

From what I have seen in most other tickets about software issues, not directly aiming at improving the document page, it is suggested to use the Feedback app to contact the Microsoft Developer team. If you s

[2020-11-24 12:18] illfated commented on #1207
#please-close

[2020-11-24 12:18] #1207 closed

[2020-11-24 14:39] angabe89 commented on #3413
Hi

I am implementing a Cluster and we need to confirm if Private Endpoints are supported for Cloud Witness. Any comments about this issue?

[2020-11-24 14:39] angabe89 commented on #4452
Hi

I am implementing a Cluster and we need to confirm if Private Endpoints are supported for Cloud Witness. Any comments about this issue?

[2020-11-24 16:16] likeman9 commented on #4281
@GordonRudman

you need to turn Enforced to False,, problem is there is zero way to make it permanent for New generated files as it refuses to inherit it from the folder path making New files or even just making a copy of the file is vulnerable to silent delete (once set to False on existing files it stays)

unless you run a command below every 15-60 minutes or a day that sets it to False (like ta

[2020-11-24 18:34] illfated commented on #4452
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to impro

[2020-11-24 19:32] illfated commented on #5053
@lucaberti : Thank you for the nice and quick feedback. Do you consider your issue resolved, that we may close this ticket?

[2020-11-24 20:01] lucaberti commented on #5053
@illfated Hello, I do think so. I will continue to monitor the situation, though, since the conseuqences of deleting another key could become evident in the future. I that case, I will get back to you.
Best

[2020-11-24 20:36] cloidl opened #5055 "ADFS Config file"
The page references an ADFS Config file, but doesn't specify the path or file name (Microsoft.IdentityServer.Servicehost.exe.config in C:\Windows\ADFS" by default).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cdd5a14-4ae6-fc74-21fa-2e6d2c84eff5
* Version Independent ID: 442f2a9e-7ece-8491-cea0-7c5ae94e4b01
* Conten

[2020-11-24 21:13] illfated commented on #5053
Thanks a lot. Wishing you the best of luck with solving any problems and issues. This ticket will remain searchable after closing, it just appears to be resolved in terms of no longer being an unanswered ticket for the MS Docs team members to respond to. (There is a slight feeling that some team members may have taken time off for the holidays in the U.S. for the time being, it has been a little b

[2020-11-24 21:13] illfated commented on #5053
#please-close

[2020-11-24 21:13] #5053 closed

[2020-11-25 03:20] cloidl commented on #5055
Done, Sorry about that. Still trying to get used to GitHub

[2020-11-25 06:50] nidiculageorge opened #5057 "Enable Automatic Updates for Windows Defender through Proxy enviornment"
Hi Team,

Could you please let me know how we can enable automatic updates for windows defender for proxy enabled environments. As  defender definitions are not getting updated automatically

[2020-11-25 14:49] angabe89 commented on #4452
Hi

I understand that this is not a support channel. I just ask for a complete/ updated documentation for Cloud Witness. There are 10 requests to improve the existing documentation (including this one) about Cloud Witness deploy and none have been answered.

[2020-11-25 18:14] illfated commented on #4452
Very well, fair enough. I have previously made some efforts to look into this earlier, but I admit that I am not an expert on this topic. The MS Docs server team is quite small, so I assume it may take quite some time before we see the improvements you have requested.

[2020-11-25 20:30] illfated commented on #5055
🙂 Fair enough. We have all been there. Thank you for following up and making the ticket overview better. 👍🏻

[2020-11-25 20:32] illfated commented on #5055
OK, so based on your experience, where would it be reasonably good to add the file information, in your opinion?

[2020-11-25 22:34] illfated commented on #4654
@wcvanzyl : Sorry for the late response, but I did not discover this ticket until now.

Would you mind confirming whether the page has been updated with any relevant details since July, or is it still fully lacking any persistence description?

[2020-11-25 23:34] alexanderankin commented on #4256
msft should bring this command back

[2020-11-26 06:12] Ergonomicmike opened #5058 "You need to talk about "slab consolidation" error & "space efficiency" in Optimizer."
Win10 Home. I have two spinning drivers mirrored in Storage Spaces. (Which report as "thin provisioned space.")

I was noodling around in Storage Spaces the other day and noticed a Warning about needing to optimize the mirror.

When I run Optimize (a.k.a. defrag") I get an error in Event Viewer that "The storage optimizer couldn't complete slab consolidation on [foo](G:) because: The slab consolid

[2020-11-26 11:01] AndrejsSo opened #5059 "Removing of Role - Work Folders"
Hi,

Please update document with proper steps of how to properly remove this role - Work Folders - from Windows Server 2016.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ee48ca-ffdd-e0e6-1c52-767b5d14a008
* Version Independent ID: 67235c91-d322-4029-3474-66d4e87a93f7
* Content: [Deploying Work Folders](http

[2020-11-26 11:33] maxime-jeanson opened #5060 "`client_credentials` grant flow supports the `resource` parameter which is not documented."
`client_credentials` grant flow supports the `resource` parameter which is not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5399f381-2744-9012-2575-b2d1dd110040
* Version Independent ID: c816cb8d-b7b5-6fe7-bcca-b5d0da9efefc
* Content: [AD FS OpenID Connect/OAuth flows and Application Scenarios](https://do

[2020-11-26 16:58] benjaminjamesowens commented on #1505
@billmath are you aware of any documentation that calls out the Alternate Login ID limitations specific to Password Hash Sync.  This was assigned 29 days ago.  Is there a plan to update or create new documentation on this?

[2020-11-26 18:42] illfated commented on #4256
Fair point. I miss it a bit myself, at least the few times I have to work in a command-line only environment, but that happens less and less these days.

Would be nice if Microsoft could port a couple of Linux editors into core-only OS versions, like VIM or nano.

[2020-11-26 18:47] illfated commented on #4256
By the way, this ticket does not fall within the scope of this repository, which is to aim at making constructive changes to the MS Docs (docs.microsoft.com) documentation pages.

@rossmpersonal & @alexanderankin : Do you want to keep this ticket open, knowing that the current comments don't provide much in the way of actual improvement work to be done in the documents? Unless there are some good

[2020-11-26 19:06] rossmpersonal commented on #4256
As I pointed out, the current documentation is not accurate should be updated to fix this inaccuracy. As a result, this ticket should not be closed. This discussion on this ticket appears to have drifted into a discussion of an implied request for enhancement of product functionality that is off-topic and inappropriate for a documentation ticket. Those comments should be to a separate in a reposit

[2020-11-26 19:13] illfated commented on #4256
Fair enough, good point. Feedback Hub is the recommended channel for product functionality / software feature requests.

Very well. Let's keep this ticket as a reminder to archive or remove the page https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/edit , because it has not really been part of the OS since Windows XP or Vista.

[2020-11-26 19:26] illfated commented on #3597
@jdw2465 : Sorry for the late follow-up. I am here on my own spare time. I would recommend that you share your views with Microsoft's developers via the **Feedback Hub app**.

General information:

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for imp

[2020-11-26 19:26] illfated commented on #3597
#please-close

[2020-11-26 19:26] #3597 closed

[2020-11-26 20:14] illfated commented on #3309
Ref. PR  #3503 (**Added clarity about the need to import-module Clear-PhysicalDeskHealthData.ps1**)

Please note the typo in the .PS1 file name (Desk instead of Disk).

[2020-11-26 21:40] illfated commented on #1442
@TinaMcN : I don't know if this belongs to your department, but anyway; The Machine Translated Russian page contains incorrect spacing, both for forward slashes // and around parentheses ( ) inside regular text lines.

Link to the most affected part of the page: https://docs.microsoft.com/ru-ru/windows-server/identity/ad-fs/technical-reference/the-role-of-claims#what-are-claim-types

image view of

[2020-11-26 23:31] rossmpersonal commented on #4256
Did we ever even thoroughly review exactly what OS architectures and versions it is still in or has been removed from or when exactly it was removed? For example, if it is was included in Windows 10 32-bit (I don't know this.), the page should be updated to specifically list which versions it is in and which versions it is not in.

On Thu, Nov 26, 2020, at 2:14 PM, Trond B. Krokli wrote:

[2020-11-27 02:36] illfated commented on #4256
Also fair & good point. True, edit.com is only supported in 32-bits Windows, but requires NTVDM be installed in order to run.

[2020-11-27 04:19] illfated commented on #1831
Just to repeat the code above, with MarkDown code block & syntax highlighting:
[code]

Looking through the 5 open issue tickets related to the same page, I wonder if the script/code somehow could be a solution to ticket #976 – any thoughts?

Being an old-school MS-DOS/CMD/CLi user, I am also wondering if it would work to replace `C:\Program Files (x86)` with `$Env:ProgramFiles(x86)` as follows:

[

[2020-11-27 04:21] illfated commented on #976
As discussed in #1831 , there is a suggested script/PS code example in that ticket:

[code]
Not sure if it is practical or useful to you, but I thought it would be nice to reference it.

[2020-11-27 04:28] rossmpersonal commented on #4256
That needs to be explicitly stated in the documentation. Also, what is/was the last version of 32-bits Windows which allows the NTVDM to be installed? This needs to be verified.

On Thu, Nov 26, 2020, at 9:36 PM, Trond B. Krokli wrote:

[2020-11-27 04:29] illfated commented on #3751
Sorry for taking so long to respond, but then again, I only use GitHub in my spare time.

Please note that this repository is for documentation improvement purposes only. Questions and suggestions to the Microsoft developers should be sent via the Feedback Hub app.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may wa

[2020-11-27 04:47] illfated commented on #4957
See also issue ticket #4782 for a discussion on this topic and maybe how to resolve it.

[2020-11-27 04:48] illfated commented on #4782
(ref. #4957 )

[2020-11-27 04:55] illfated commented on #3864
Would it help to remove all the links, so readers don't get distracted by links to separate CMD commands with no relation to this page?

Are there any relevant links at all, or should 100% of the links be removed?

[2020-11-27 05:08] illfated commented on #3617
Resolved in PR #4118 and commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/e927dfbf655b9d88af13049340a70339c394ae8f .

[2020-11-27 05:09] illfated commented on #3617
Thanks for the repost. Sorry I did not manage to notice this ticket earlier.

[2020-11-27 05:09] illfated commented on #3617
#please-close

[2020-11-27 05:09] #3617 closed

[2020-11-27 05:16] illfated commented on #3726
Resolved in PR #3954 and commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/580bdd7c71d693d3bb196c017b2fe840bd5187c8 .

[2020-11-27 05:16] illfated commented on #3726
#please-close

[2020-11-27 05:16] #3726 closed

[2020-11-27 17:45] illfated commented on #4256
@eross-msft : Sorry for pinging you like this during the holidays, but it would be good to know if you would be able to contact someone who could help us verify the last version of 32-bits Windows which allows the NTVDM to be installed and `edit.com` to run in that environment.

As I mentioned earlier, the Technet discussion https://social.technet.microsoft.com/Forums/en-US/dcb9b5ea-ba0c-4d19-98d0

[2020-11-27 19:00] rossmpersonal commented on #4256
No. I am not able to contact someone to do that. That knowledge should be available within Microsoft. Thank you.

On Fri, Nov 27, 2020, at 12:45 PM, Trond B. Krokli wrote:

[2020-11-27 19:49] illfated commented on #4256
Oh wow. Where have I kept my head for the last year. I did not even consider the possibility that this could be your secondary account. /facepalm 🤦🏻‍♂️

[2020-11-27 20:16] illfated commented on #4425
Oct 13, 2020, 11:18 PDT, the following was added for 2004 and 20H2 in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/30fb6ddc320291fb89cf2b93e44879d59f9de186 (direct file link: https://github.com/MicrosoftDocs/windowsserverdocs/commit/30fb6ddc320291fb89cf2b93e44879d59f9de186#diff-c7e8f4154bb3aea37087cd2ca928c5e985d5b6946eae1d597f16dea29fa942eb) by Heidilohr :

**4** 📗📗📗🟥🔲 [Window

[2020-11-27 20:18] illfated commented on #4425
#please-close

[2020-11-27 20:18] #4425 closed

[2020-11-27 20:37] illfated commented on #4792
Looks like you fixed this issue on Oct 16, 2020, 12:47 PM PDT, in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/68e512d7a026babde93ec35ded2e8ae2b4b6b4b1 (file link https://github.com/MicrosoftDocs/windowsserverdocs/commit/68e512d7a026babde93ec35ded2e8ae2b4b6b4b1#diff-31c178ae9b889549cf45ec64aebdf5f46b48bb139348dbeebc99b698958eee72)

https://github.com/MicrosoftDocs/windowsserver

[2020-11-27 20:38] illfated commented on #4792
#please-close

[2020-11-27 20:38] #4792 closed

[2020-11-27 20:40] illfated commented on #3524
Links to the related document pages would have been nice, particularly to track the changes since this ticket was created.

[2020-11-27 20:52] illfated commented on #3523
... while the ticket comment above is missing a "not" in "it does provide instructions for how to do a clean install" ...

Seems to be resolved by [**DCtheGeek**](https://github.com/DCtheGeek) on Jul 21, 2020, 11:53 AM PDT, in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/53e30923ae5cdb35a1245958bff2f1c3317e413c (file link https://github.com/MicrosoftDocs/windowsserverdocs/commi

[2020-11-27 20:56] illfated commented on #3523
#please-close

[2020-11-27 20:56] #3523 closed

[2020-11-27 21:10] illfated commented on #4424
GitHub page blame view: https://github.com/MicrosoftDocs/windowsserverdocs/blame/master/WindowsServerDocs/get-started/whats-new-in-windows-server-2004.md

Page created May 26, 2020, 12:47 PM PDT in PR #4407 (**From private repo**), commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/2477982bfd6dc42b0eefeb648c1adefdc8d485c3

Page updated by Heidilohr on Oct 13, 2020, 11:18 AM PDT, in c

[2020-11-27 21:10] illfated commented on #4424
#please-close

[2020-11-27 21:10] #4424 closed

[2020-11-27 22:05] illfated commented on #3525
Not much to find in the Microsoft Documentation regarding the exact topic "Windows Emergency Management Services":

- https://docs.microsoft.com/en-us/search/?terms=%22Windows%20Emergency%20Management%20Services%22

**2 results for ""Windows Emergency Management Services""**
- https://docs.microsoft.com/en-us/windows-hardware/drivers/serports/serial-port-console-redirection-table
- https://docs.mi

[2020-11-28 00:33] rossmpersonal commented on #3523
I still do not think the issue is fix. It describes the requirements, prerequisites, and considerations for a clean install but does not provide instructions on how to execute a clean install. This needs to be fixed.

[2020-11-28 09:58] illfated commented on #3523
Very well, fair enough. Would you like to open a new ticket, using a link based on the existing content?

Updated ticket link for the page "Install, upgrade, or migrate to Windows Server":
- https://github.com/MicrosoftDocs/windowsserverdocs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.

[2020-11-29 04:00] rossmpersonal commented on #3523
1. The description of the original ticket clearly described that this was the issue. This is not a separate issue. There is no reason to create a new ticket. Please feel free to prove me wrong.
2. As far as I can tell there is not existing content that covers this. Hence the reason for opening this ticket. Therefore, using a link based on existing content is not possible.

On Sat, Nov 28, 2020, at

[2020-11-29 09:43] illfated commented on #3523
#please-open

[2020-11-29 12:48] illfated commented on #3523
#please-reopen

[2020-11-29 19:18] illfated commented on #3523
#reopen

[2020-11-29 21:18] eross-msft commented on #4256
I've been on vacation for the past 2 weeks. I'm not sure if this is what you're saying here, but I want to make sure you know this isn't a secondary account for me. My only GiHub account is eross-msft.

[2020-11-30 00:15] karakartal1881 opened #5062 "yazılım edl"
[Geri bildiriminizi buraya girin]

---
#### Belge Ayrıntıları

⚠ *Bu bölümü düzenlemeyin. docs.microsoft.com ➟ GitHub sorunu bağlantısı için gereklidir.*

* ID: d3d97834-a7a2-2e9b-f9fd-1025e038388e
* Version Independent ID: dbf305e8-49e1-c8be-f4fb-d056912c76b9
* Content: [Guarded fabric and shielded VMs](https://docs.microsoft.com/tr-tr/windows-server/security/guarded-fabric-shielded-vm/guarded-fa

[2020-11-30 00:29] illfated commented on #5062
"yazılım edl" translates (from Turkish) to "software edl" which I don't quite see what means in this context.

@karakartal1881 : Do you have something specific to report from the document, or is this just a test?

[2020-11-30 06:32] Jahn08 commented on #5032
I've finally managed to try opening the links again after returning back to my country, and it seems that they are indeed somehow blocked for Russia: they don't work from any of my devices. @illfated, I'll report this behaviour through the links you've provided. Thank you for your help!

As for improvements to the documentation, perhaps, it would be better to mention what particular conditions sho

[2020-11-30 12:27] the-ress opened #5064 "Headings with long registry paths don't wrap"
Long registry paths in headings don't wrap and there's no horizontal scrollbar.

Example:
![image](https://user-images.githubusercontent.com/1612377/100609911-184a9880-330f-11eb-845e-b3ddc3831393.png)
(The heading should say *"HKLM\SYSTEM\CurrentControlSet\Services\W32Time\TimeProviders\NtpClient" subkey entries*)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-11-30 17:26] #5024 closed

[2020-11-30 17:28] #5037 closed

[2020-11-30 18:40] illfated commented on #5032
Thank you again for the feedback. I see what you are saying, but from my experience with this repository, it is often difficult to verify changes like that without involving MS technical employees and developers, which often takes a lot of time to complete. It is usually more effective to report issues like this to the developers via either local Microsoft support or Feedback Hub, then wait for th

[2020-11-30 19:53] Teresa-Motiv commented on #4978
Fix has been published from the internal repo; public page has been updated.

[2020-11-30 21:19] illfated commented on #4978
Nice. Glad to hear that.

@MichaelMc64 : Feel free to check the public page and see if you are satisfied with the changes.

[2020-11-30 21:32] illfated commented on #4978
See the following link for the main change in the table:
- https://docs.microsoft.com/en-us/windows-server/networking/windows-time-service/windows-time-service-tools-and-settings#parameters

The line removal was done near the top of the page, in the **Examples** section below the table of this section:
- https://docs.microsoft.com/en-us/windows-server/networking/windows-time-service/windows-time-s

[2020-11-30 21:34] illfated commented on #4978
@MichaelMc64 : Thank you again for reporting the issue. Feel free to open a new ticket if you find other documentation details in need of correction.

[2020-11-30 21:34] illfated commented on #4978
#please-close

[2020-11-30 21:34] #4978 closed

[2020-11-30 21:42] illfated commented on #4256
Thank you for clearing up that misunderstanding. I was completely confused there, because I found it hard to believe that a Microsoft employee would use a secondary private account, as well as using a very different tone of voice in that account. Never mind. Glad we got that cleared off the table.

[2020-11-30 21:57] illfated commented on #5064
Thank you for reporting. I noticed that too. On my 24" screen (1920x1200), with the browser maximized, it does not become apparent until I scroll down to the next 2 registry titles:
- **"HKLM\SYSTEM\CurrentControlSet\Services\W32Time\TimeProviders\NtpClient"**
https://docs.microsoft.com/en-us/windows-server/networking/windows-time-service/windows-time-service-tools-and-settings#ntpclient
- **"HKLM

[2020-11-30 22:13] illfated commented on #3456
@ChrisDodd : any comments regarding the reply from **konstruktoid** ?

[2020-11-30 22:17] illfated commented on #3679
@fbocosta : Please note that this repository is only used to report issues with the referenced documentation. It is not a support instance, but might be interpreted as one, based on some of the tickets where incorrect documentation actually causes errors or issues when actively using the documentation.

Also, let me add a few notes based on my experience the last couple of years while using this r

[2020-11-30 22:17] illfated commented on #3679
#please-close

[2020-11-30 22:17] #3679 closed

[2020-12-01 00:59] shunkino commented on #4986
I have wrote PR and the doc page is updated as suggested. Closing this issue.

[2020-12-01 00:59] #4986 closed

[2020-12-01 01:03] illfated commented on #4986
Nice. Good job. Thank you for following up on this.

[2020-12-01 01:22] SnoWolfT commented on #5049
Hi Team, do we have any update on this?
In additional, I use my subscription to create 2 Win2019 VM with and without AHB. Then I use the Cost analysis to check and find the cost of both VM are the same... Would you please have a check of that? I suppose the cost of the VM with AHB should be lower.
![image](https://user-images.githubusercontent.com/20415080/100684972-623a8980-33b6-11eb-8390-9c2f21c

[2020-12-01 13:05] ipsos-md-jimw opened #5066 "ROBOCOPY docs missing /J switch"
This page for ROBOCOPY is missing documentation on the /J switch.  /J forces unbuffered copies.  Might have some other cross-impacts that should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf2281d4-1470-0658-ec5a-687fe2cd451c
* Version Independent ID: 2ce2be3e-e3a2-790c-3bff-90efe7318450
* Content: [r

[2020-12-01 13:40] jflieben opened #5067 "Email discovery obsolete?"
It seems this article is now obsolete, as a WVD client sign in now automatically detects what WVD resources I have access to.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca8081a3-ec92-8aa5-2a51-1c10a298fdd1
* Version Independent ID: 6c33184e-2ef8-0b7c-8666-50d4c4b16c7e
* Content: [Set up email discovery to subscribe

[2020-12-01 14:17] esc opened #5068 "OpenSSHUtils has been delisted"
The package named in the documentation `OpenSSHUtils` is no longer available:

https://www.powershellgallery.com/packages/OpenSSHUtils/1.0.0.1

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c89b7b3-c05f-b517-6109-04e6a97195c3
* Version Independent ID: 1e4b742e-d999-2c1e-a396-dc149f7ac76b

[2020-12-01 14:37] esc commented on #5068
Duplicate of many issues,  fix is here: https://github.com/MicrosoftDocs/windowsserverdocs/pull/4788

[2020-12-01 14:37] #5068 closed

[2020-12-01 17:23] foi-cpatterson opened #5069 "Azure Mulit-Factor Auth Client Application Enable Step Needs Added"
Please add a section to this document highlighting the need to login to the azure portal, navigate to enterprise applications, and enable the Azure Multi-Factor Auth Client application for the tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f333e8cb-c046-ee06-d33d-d7dc8e8af695
* Version Independent ID: 10838695-

[2020-12-01 17:28] davidbel commented on #5067
This article is used for both WVD and RDS. For RDS this still applies. Also, even for WVD it still applies for the non-Windows clients and even on the Windows client, there is an option to subscribe with URL which supports email discovery.

[2020-12-01 21:29] TinaMcN commented on #1442
@SonjaSaltzman do you know who manages the Windows Server content localization?

[2020-12-01 21:50] eross-msft commented on #5049
@SnoWolfT I will try to get a response from the product group about whether this is supported on WS2019.

As for your other questions, this feedback area is only intended to address documentation-related issues. It's currently not possible for us to follow up on support-related questions. To ask for product assistance, you can go our new Windows on Q&A site, https://docs.microsoft.com/en-us/answer

[2020-12-01 21:54] SonjaSaltzman commented on #1442
Should be @cnicco

[2020-12-01 22:04] eross-msft commented on #5049
@SnoWolfT  The product team confirmed it includes WS 2019. I will update the article to add that. Thanks!

[2020-12-01 22:04] #5049 closed

[2020-12-01 23:02] carlosmayol opened #5070 "Missing WS2019 references and migrations paths from 2012R2 to 2019"
[Enter feedback here]
Please update the content to support WS 2019, reading seems only applies to WS 2016 even thoigh the section applies to 2019 is present the images and text only metions 2916.
Also the page is missing the scenario of migrtion to 2019 from 2012R2, that implies going through 2016.
Please add some sort of a table with the migration paths. or updated graphics.

---
#### Document De

[2020-12-01 23:21] rossmpersonal opened #5071 "Documentation for repadmin is missing"
[Enter feedback here]

Expected behavior: Page contains a link to documentation for the repadmin command.
Observed behavior: Page does not contain a link to documentation for the repadmin command.
Fix needed: Please add a link to documentation for the repadmin command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d3

[2020-12-02 02:19] O365scripts opened #5072 "Get-NetAdapter"
The link to the Get-NetAdapter is incorrect and should be adjusted in this section:

"Find existing network adapters by running the Get-NetAdapter cmdlet. Make a note of the network adapter name that you want to use for the virtual switch."

https://technet.microsoft.com/library/jj130867.aspx > https://docs.microsoft.com/en-us/powershell/module/network-adapter/get-netadapter (404)

Correct path sh

[2020-12-02 04:29] ant0nwax commented on #3441
I would like to state that I reached the point, too. I have a dual monitor windows setup and a Android 10 based Client solution for RDP, I was reading an article that if you run RDP Client on Windows you can select use multiple monitors on the RDP Client. On the RDP Client for Android this setting is missing afaik... Do I have to use a Windows 10 Client Machine for connecting to my Workstation DUA

[2020-12-02 21:53] vixenathena opened #5074 "Storage migration service update 1.115.0 broke the gui for the service in wac."
The gui in wac is blank in the new update and nothing was displayed on the webpage. I had to roll back to update 1.113.0 (the version I was at).

[2020-12-02 23:46] csf6gom opened #5075 "Missing image from this page"
This page states "**The following image illustrates the various layers and their elements**.", but there is no image supporting the text provided.  Please can the intended image be added to this please?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 674208bc-fe92-8cc3-1161-4b03dbc413c8
* Version Independent ID

[2020-12-03 05:54] ivassallo19 opened #5076 "Steps no longer match the product"
[Enter feedback here]
Step 3.6 of this document:
"Configure redirect URI in the Native app"
The step "Go to Authentication. Change the TYPE dropdown box to Public", the Redirect URIs section is not there for me.
In my Azure portal, for NativeAppForHCP, under Authentication, I have:

Platform configurations
+ Add a platform
Supported account types
- this organization
- any organization
Advanced set

[2020-12-03 15:14] rossmpersonal opened #5077 "Documentation for nltest command is missing"
Expected behavior: Page has link to documentation for nltest command.
Observed behavior: Page does not have link to documentation for nltest command.
Fix needed: Add link to documentation for nltest command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d382ca0-6538-5e1d-3e83-e31c9ab6a911
* Version Independent ID: 11

[2020-12-03 23:08] Teresa-Motiv commented on #3331
This appears to be fixed now.

[2020-12-03 23:08] #3331 closed

[2020-12-03 23:58] tgmoo opened #5078 "Ubuntu 20.10 apt-key is deprecated AND does not work"
[The instructions cannot be followed on  Ubuntu 20.10 (GNU/Linux 5.8.0-1006-raspi aarch64) as the apt-get commands do not work.  Some earlier reports online suggested that the deprecation was just a warning and that the command worked.  It is not working on this version of Ubuntu.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-12-04 00:27] vixenathena commented on #5074
Clearing my browser cache fixed my issue. Thank you!

[2020-12-04 00:27] #5074 closed

[2020-12-04 08:11] ryanhelmer opened #5079 ""Role Services included in Server Core" incorrectly lists Remote Desktop Virtualization Host as included"
The documentation is incorrect: Remote Desktop Virtualization Host is _not_ included in Server Core. Please see https://docs.microsoft.com/en-us/windows-server/get-started-19/removed-features-19#features-we-removed-in-this-release: "Remote Desktop Connection Broker and Remote Desktop Virtualization Host in a Server Core installation"

This is a frustrating and costly documentation error when findi

[2020-12-04 16:20] aamir0 opened #5080 "Update suggestion of OpenSSHUtils"
This page mentions installing OpenSSHUtils, which [appears to be deprecated](https://github.com/MicrosoftDocs/windowsserverdocs/issues/3806).

I'm also unable to install it from an elevated command prompt, which may or may not be related:

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c89b7b3-c05f-b517

[2020-12-04 16:21] aamir0 commented on #5080
Never mind, I see this is a duplicate

[2020-12-04 16:21] #5080 closed

[2020-12-04 22:46] illfated commented on #5080
Fair point. Thanks for checking and closing.
- https://github.com/MicrosoftDocs/windowsserverdocs/issues?utf8=%E2%9C%93&q=%221e4b742e-d999-2c1e-a396-dc149f7ac76b%22&in=body

[2020-12-05 00:34] hsiang168 opened #5081 "hsiang"

[2020-12-05 00:35] #5081 closed

[2020-12-05 00:36] hsiang168 commented on #5081
5081

[2020-12-06 10:19] lupo49 opened #5083 "Wrong parameter in w32tm example configuration command line"
The example line
`w32tm /config /manualpeerlist:"ntpserver.contoso.com,0x8 clock.adatum.com,0xa" /syncfromflags:manual /update`
shows a paramter "0xa". According to the parameter list it should be "0x02" (UseAsFallbackOnly)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d09b16e-4bbb-91fa-3d84-e7623ec4dc07
* Version I

[2020-12-06 12:30] #5083 closed

[2020-12-06 12:31] lupo49 commented on #5083
My issue. 0xa is the combination of the flags "0x2" (UseAsFallbackOnly) and "0x8" (Client)

[2020-12-06 14:21] justanotheranonymoususer opened #5084 "netcfg: /q, /u options are not documented"
But they are listed as examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a5d57a-9b6d-97b5-68ef-596ea616ab3f
* Version Independent ID: 74c36f72-cfee-5fbb-e410-fb4cb7449cdc
* Content: [netcfg](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/netcfg)
* Content Source: [WindowsServer

[2020-12-06 15:05] exchange12rocks commented on #5039
Basically, it's a duplicate of #4922

[2020-12-06 17:08] exchange12rocks commented on #4922
@illfated They say that the page [WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-tshoot-iwa.md](../blob/master/WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-tshoot-iwa.md) specifies the "http" service class for AD FS SPN, while all other docs everywhere say that the SPN should start with "host".
Maybe that ad-fs-tshoot-iwa should be corrected

[2020-12-06 17:16] exchange12rocks commented on #4838
Shouldn't we just use `usoclient StartScan`?

[2020-12-06 17:58] exchange12rocks commented on #4517
I think it was fixed in 30fb6dd
@rmrosen could you please confirm?

[2020-12-06 21:18] illfated commented on #4922
Fair point. Do we have enough evidence to say that "host" is the correct term, not http, and that http should be replaced with "host" in that page?

[2020-12-06 22:08] illfated commented on #4819
(ref. #5086 )

[2020-12-06 22:11] illfated commented on #5083
Thank you for the feedback and for closing with an explanation. Nicely done.

[2020-12-06 22:25] illfated commented on #4517
(Direct file source change link: https://github.com/MicrosoftDocs/windowsserverdocs/commit/30fb6ddc320291fb89cf2b93e44879d59f9de186#diff-c7e8f4154bb3aea37087cd2ca928c5e985d5b6946eae1d597f16dea29fa942eb)

[2020-12-06 22:26] illfated commented on #4517
Looks resolved to me, but a confirmation from the ticket author is welcome.

[2020-12-07 10:11] RNalivaika opened #5087 "assigning apps/collections to usergroups in remote domains"
I think this document should additionally address the supported method for assigning apps/collections to usergroups in remote domains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc6eb8ed-549f-7280-8d99-b5f1cf2e29d5
* Version Independent ID: 65c88dec-88dc-8e60-014e-78f5cf21407f
* Content: [Manage users in your RDS c

[2020-12-07 14:17] rmrosen commented on #4517
Confirmed resolved with 20H2 publishing.

Thanks!

Ray Rosen
Senior Customer Success Account Manager | Microsoft

From: Trond B. Krokli <notifications@github.com>
Sent: Sunday, December 6, 2020 4:27 PM
To: MicrosoftDocs/windowsserverdocs <windowsserverdocs@noreply.github.com>
Cc: Ray Rosen <Ray.Rosen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windowsserverdocs

[2020-12-07 15:55] #4517 closed

[2020-12-07 16:07] exchange12rocks commented on #4705
Most likely it will be in the "System" event log.

[2020-12-07 16:14] exchange12rocks commented on #4639
In my opinion, the link hasn't made any sense from the beginning, because the article talks about a regular desktop PC, while that linked pointed to a content for OEM manufacturers of mobile devices. Techniques described there were never applicable to this article.

I think we should just remove the link - it has never been useful for this article.

[2020-12-07 16:17] exchange12rocks commented on #4639
#5088

[2020-12-07 16:24] exchange12rocks commented on #4500
@kevin-tunge-spok You can't - those settings are on the system level. Just enable both TLS 1.2 and TLS 1.1.

[2020-12-07 16:25] exchange12rocks commented on #4500
@eLgRuNgE What is your feedback about that page? You didn't provide any in your issue.

[2020-12-07 16:27] exchange12rocks commented on #4473
@nishantrajmitra Can you close this issue please, since it has been resolved.

[2020-12-07 16:28] #4819 closed

[2020-12-07 16:30] #4635 closed

[2020-12-07 16:30] exchange12rocks commented on #4464
@rossmpersonal Could you please close this issue, since it seems to be resolved.

[2020-12-07 16:30] kevin-tunge-spok commented on #4500
Thank you @exchange12rocks, I suspected as much, just was looking to verify it with others who may have had the same issues. I appreciate the reply!

[2020-12-07 16:34] exchange12rocks commented on #3653
@ildrosos Fixed in d584800 - could you please close the issue?

[2020-12-07 18:47] #4464 closed

[2020-12-08 02:10] Kiwifulla commented on #4926
Hi there - this doesn't appear to have been reopened yet as per the comments made 28 days ago?

[2020-12-08 03:09] #4473 closed

[2020-12-08 03:11] nishantrajmitra commented on #4473
It's done.

Thanks & Regards,
Nishant Kumar
Contact- +91-9972755448

On Mon, Dec 7, 2020 at 9:57 PM Kirill Nikolaev <notifications@github.com>
wrote:

[2020-12-08 14:29] nidiculageorge commented on #5057
Any updates

[2020-12-08 15:29] webash opened #5090 "Authorise new host in the Key Protector of a virtual machine"
The following paragraph mentions that the Key Protector for a virtual machine must be updated to authorize a new host to run the virtual machine, and then links to two pages that provide no such method for doing so. Either that instruction should be explicitly spelled out in this page [for which I can find no other reference, nor does the product error messages hint at where to find that instructi

[2020-12-08 15:29] illfated commented on #3653
#please-close

[2020-12-08 15:29] #3653 closed

[2020-12-08 15:31] illfated commented on #3653
Sorry, I forgot to take into context that @ildrosos might want to close it. Maybe I was too quick to ask for the issue ticket to be closed.

[2020-12-08 16:15] ildrosos commented on #3653
Hello no problem it should be closed since it's fixed no problem.

On Tue, Dec 8, 2020, 17:31 Trond B. Krokli <notifications@github.com> wrote:

[2020-12-08 19:54] felinepc opened #5092 "Users who have Hello For Business biometrics get prompted to use them for WVD client which does not work"
When the WVD client is used on workstations that are AAD joined with Windows Hello for Business biometrics enabled, the first time they attempt to launch any RemoteApp/desktop, they're prompted to use H4B. This does not work because WVD does not support it and they get some generic RDP NLA error, causing confusions repetitively. We have to always remind users to click the small "other options" lin

[2020-12-08 21:23] undevin opened #5094 "The top infrastructure diagram is hard to read in dark mode."
The top infrastructure diagram on this page is really hard to read in dark mode. I tested out the page in MS Edge, Chrome, Firefox, and Safari.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74d09c81-d205-dbd0-ea6a-aaf469eadf5c
* Version Independent ID: 458db848-1b30-1115-8814-3a639a57c70b
* Content: [Configure Device-

[2020-12-08 21:52] Arnth opened #5095 "Hardware sizing recommendations are inaccurate"
After opening case# 120111324004744, I was unable to get real sizing recommendations.  The current recommendations on this page are insufficient for real-world usage.  I saw CPU issues with only 2 users on an E4S_v3 VM with spikes of 50% CPU during simple UI actions, like dragging a window around the screen.

My case was unable to be actually resolved by the VM performance team OR the WVD support

[2020-12-09 02:55] miketheitguy opened #5096 "Add HTTPS Binding details"
When following this guide for configuring SSL for WSUS, there's a step where you need to use the IIS Administration Console to set the HTTPS certificate binding up correctly. Otherwise your WSUS breaks if you're unaware when poking around in the IIS console. I suspect this page requires some level of IIS Administration experience to get through, but it would be a good call out somewhere. Perhaps s

[2020-12-09 05:50] illfated commented on #4926
I tried both here and somewhere else with no success, so I don't know if the scripted bots are able to reopen tickets at all or if they have got any respond codes to do so.

[2020-12-09 07:06] Kiwifulla commented on #4926
OK thanks - so how can we progress with you being able to update the documentation?

[2020-12-09 13:36] illfated commented on #4926
Sorry, I have had some rough times lately. I misjudged how sleepy the medicine I take makes me. Would it be OK if we continue this discussion in my PR #4988 ?

[2020-12-09 15:41] illfated commented on #5094
I can confirm this. The text description for each of the individual diagram figures tend to blend in with a dark background, making them less visible. Most of the figure texts inside the image is adapted to a white or very light (as opposed to dark) background.

A possible solution would be to capture some white background only for the text within image, to make the texts more readable in Dark mod

[2020-12-09 17:02] illfated commented on #4867
(ref. PR #5098 )

[2020-12-09 17:03] illfated commented on #3816
Possibly related: #5098

[2020-12-09 17:04] rotraves-microsoft commented on #4867
Thanks for reporting this Pinho. I just submitted a change on the document correcting the command line.

[2020-12-09 17:04] illfated commented on #4394
Somewhat related: #5098

[2020-12-09 17:06] illfated commented on #4363
Any useful information pertaining to this issue in PR #5098 ?

[2020-12-09 17:14] illfated commented on #4639
Looks like this issue is resolved by PR #5088 and commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/7fafe54ce536b65ad5d0c210f22d64bb11e44d45.

#please-close

[2020-12-09 17:14] #4639 closed

[2020-12-09 17:16] illfated commented on #4639
Likely relevant to https://github.com/MicrosoftDocs/windowsserverdocs.zh-cn/issues/21 as well, not sure how soon the change becomes visible in the /zh-cn/ translation.

[2020-12-09 18:53] apmpinho commented on #4867
Thanks Rodrigo, appreciate that 👍

[2020-12-09 18:58] k3for opened #5099 "missing important parameter on Initialize-Cluster powershell command for installing to existing forest"
The PowerShell for the Initialize-Cluster command IS MISSING AN IMPORTANT PARAMETER:
-ClusterName "MyHGSClusterName"

without this, a random cluster name (number suffix) is inserted, and you will get a cluster operation terminated / error occured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae25db7-fa78-b9bd-463c-a

[2020-12-09 19:23] Kiwifulla commented on #4926
Ah sorry to hear that. No problem using that one, thanks

[2020-12-09 21:07] illfated commented on #4922
OK, I just noticed that the same issue has been reported in ticket #5039 as well. I guess this suggests that I get a grip on myself and start modifying the page as suggested.

[2020-12-09 21:09] illfated commented on #5039
Duplicate of #4922 — please add comments and suggestions to that ticket.

#please-close

[2020-12-09 21:09] #5039 closed

[2020-12-09 23:17] illfated commented on #5040
Resolved in PR #5046 .

#please-close

[2020-12-09 23:17] #5040 closed

[2020-12-09 23:18] illfated commented on #5040
(also ref. #821 )

[2020-12-09 23:18] illfated commented on #821
Resolved in PR #5046 .

#please-close

[2020-12-09 23:18] #821 closed

[2020-12-09 23:41] illfated commented on #4867
Can we conclude that the issue is resolved now, via referenced PR #5098 ?

[2020-12-10 04:04] illfated commented on #5099
Thank you for noticing and reporting that critical detail. I will open a pull request to have that parameter added.

BTW, is the order of appearance important for any of the parameters?
Or is it up to the admins to order the parameters (along with their values) in any order they choose?

[2020-12-10 04:05] illfated commented on #5099
Also ref. https://docs.microsoft.com/powershell/module/hgsserver/initialize-hgsserver

[2020-12-10 05:23] illfated commented on #596
Seems to be resolved in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/ce6a687b3a8a71a87c9bb6257b3d575664c92747

#please-close

[2020-12-10 05:23] #596 closed

[2020-12-10 05:36] illfated commented on #858
This needs a TOC change as well as the page itself. Looking at the other TOC entries listed underneath their respective main commands, the subcommand filenames begin with the name of the main command, so in this case, the files should be renamed to `diskpart-*.md` and the links should be moved to a H4 entry underneath the main Diskpart entry in the command list.

[2020-12-10 06:06] illfated commented on #858
Visual example:

- diskpart
   - `diskpart` (existing file `diskpart.md`)
   - `diskpart active` (new name diskpart-active.md)
   - `diskpart add` (new name diskpart-add.md)
   - `diskpart assign` (new name diskpart-assign.md)
   - `diskpart attach vdisk` (new name diskpart-attach.md)
   - `diskpart attributes` (new name diskpart-attributes.md)
   - `diskpart automount` (new name diskpart-automoun

[2020-12-10 06:17] illfated commented on #858
in addition to the changes illustrated above, we also need to change the URLs in the diskpart.md file content:

- https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/administration/windows-commands/diskpart.md

TOC file URL: https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/administration/windows-commands/TOC.md

[2020-12-10 08:05] unlimit-cons opened #5101 "ssh"

[2020-12-10 10:40] doctordns commented on #858
that all sounds good to me in terms of resolving _this_ issue, although the command list is a bit of inconsistencies.

[2020-12-10 10:58] JGFMK opened #5103 "Can you submit a partpicker list an check to see if compoents would work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b94892-aa2a-a130-f89b-311b12ee64a1
* Version Independent ID: 7e29bbc3-d4ec-385e-6d2b-f2a224af9b4f
* Content: [System Requirements for Windows Server 2016](https://docs.microsoft.com/en-us/windows-server/get-started/system-requirements)
* Content Sou

[2020-12-10 11:19] illfated commented on #4204
Not sure if the page has changed anything since you posted this issue, but to me, it looks like you have to use the (diskpart) **select** command to set focus.

[2020-12-10 11:22] illfated commented on #4243
No news since April 27 / April 28 here. Tagging this ticket for closing.

[2020-12-10 11:39] illfated commented on #3844
Wow. That should be easy to fix, now that there are 2 separate pages named "import":
- import (shadowdisk) (https://docs.microsoft.com/windows-server/administration/windows-commands/import)
- import (diskpart) (https://docs.microsoft.com/windows-server/administration/windows-commands/import_1)

Going to check the changelog (History) for the TOC file and the 2 pages, just to see how long these 2 al

[2020-12-10 12:00] illfated commented on #3844
There you go. Sorry it took me so long to find this ticket. PR #5104 is ready for perusal.

[2020-12-10 13:35] jbostoen opened #5105 "Client diagnostics tool: link not working"
Client diagnostics tool: link not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa21e853-8fa2-24d0-9806-75345cc12fd3
* Version Independent ID: 5397b0db-f1b5-fa63-df9c-112fb9672833
* Content: [Windows Server Update Services tools and utilities](https://docs.microsoft.com/en-us/windows-server/administration/wind

[2020-12-10 16:31] jaimeo commented on #5103
This is not my article. @eross-msft I would just assign this to you, but it won't let me.

[2020-12-10 16:49] illfated commented on #5105
Fair enough, but we already know. I just haven't had time to present a reasonable solution yet.

Also, duplicate of tickets
- #4782 **Outdated page/tools/docs need to be removed.**
- #4957 **WSUS client diagnostic tools links to Forbidden page.**

[2020-12-10 16:50] illfated commented on #4782
(also ref. #5105 )

[2020-12-10 16:50] illfated commented on #4957
(also ref. #5105 )

[2020-12-10 17:42] illfated commented on #5103
@jaimeo : Would you like to see a PR to change the page author for this referenced page?
Or maybe it is preferable to handle it internally, e.g. as part of a further clean-up for documents you are no longer considered to be the current author?

[2020-12-10 17:44] jaimeo commented on #5103
That would be great. I haven't been involved in any Windows Server documentation for some years now.

[2020-12-10 17:44] illfated commented on #5103
@JGFMK : Unfortunately (for you), this repository is not a support instance. It is for documentation purposes only. Let me elaborate:

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

D

[2020-12-10 17:52] illfated commented on #5103
@eross-msft : I am considering whether I should open a PR to update all Windows Server docs to replace "jaimeo" with a different author (24 pages found in a simple search), but I just realized that I may not know if it would be correct to insert your callsign as current author. Do you prefer to make that change internally?

[2020-12-10 17:56] illfated commented on #5103
@JGFMK : Additional idea from my side: When it comes to parts & partpicker lists, I see that as hardware vendor territory. Please reach out to any vendors in your contact list and ask for a quote on what they make of the documented requirements.

[2020-12-10 17:58] eross-msft commented on #5103
We need to make these changes internally. I'm going to be going into many of these files in the coming month to fix things like broken and out-of-date metadata, so I will take care of it at that time. In the meantime, it's fine if the author unassigns themselves, I still get alerted about the open issues.

[2020-12-10 18:09] illfated commented on #5103
Very well. Thank you very much for the update.

[2020-12-10 18:11] illfated commented on #5103
@JGFMK : We will consider your ticket to be not pertaining to the documentation, so we will go ahead and close it. Feel free to open a new ticket if you find documentation issues you would like to see corrected or updated.

[2020-12-10 18:11] illfated commented on #5103
#please-close

[2020-12-10 18:11] #5103 closed

[2020-12-10 18:40] illfated commented on #3674
Hmm. I thought there would have been some form of update to the referenced page (**findstr**) during this last year, but not regarding this ticket. Oh well. I could always have a go at adding that missing backslashes. (Have to remember to look for more than one line where the backslashes are not escaped properly.)

[2020-12-10 19:20] illfated commented on #3674
There you go. PR #5107 is ready for review. That PR will automatically close this ticket upon being merged.

[2020-12-10 19:30] illfated commented on #5099
Never mind. I will add it as first parameter, just to make it obvious to the current page author (owner), to get feedback in the PR in case it matters at all.

[2020-12-10 19:46] illfated commented on #5099
There you go. PR #5108 is ready for review, comments, etc. This ticket will close automatically upon PR merge.

[2020-12-10 19:59] illfated commented on #5067
@jflieben : Thank you for reporting and suggesting improvements to the documentation.

Does the comment above answer your question?

Please remember, even if an article seems obsolete in your scenario, it may not be obsolete for others.

[2020-12-10 20:04] illfated commented on #4204
By the way, I am working on a plan to have the DiskPart links updated and grouped in the TOC (Table Of Contents) on the left hand side of the web page. Not sure how soon or how quick it will be realized, but it needs some love to be useful at all. Recommendations and suggestions are welcome!

[2020-12-10 20:19] illfated commented on #4867
#please-close

[2020-12-10 20:19] #4867 closed

[2020-12-10 20:24] illfated commented on #4705
Good point. Also indicated in https://docs.microsoft.com/en-us/windows-server/troubleshoot/troubleshooting-cluster-event-id-1135#several-scenarios-of-event-id-1135

## Several scenarios of Event ID 1135

We want you to take a closer look on at the **System Event logs** on all the nodes of your cluster. Review the Event ID 1135 that you are seeing on the nodes and copy all the instances of this eve

[2020-12-10 20:24] illfated commented on #4705
#please-close

[2020-12-10 20:24] #4705 closed

[2020-12-10 20:28] jflieben commented on #5067
Yes it does, i thought it was closed already. It could use some clarification in the text though

[2020-12-10 20:28] #5067 closed

[2020-12-10 20:36] #3674 closed

[2020-12-10 20:42] illfated commented on #5075
Hmm. That is a challenging request, although we might be able to dig up a Microsoft-owned image from somewhere.

I just checked the page document history here on GitHub, and it has never contained an image during its ≤ 5 years here with us. I can only assume that the original document author thought to themselves something like "Going to add the image as soon as I have added this next paragraph."

[2020-12-10 21:02] illfated commented on #5075
Any chance one of the images in this bing.com search result would match the intended "various layers and their elements" in the page text?
- https://www.bing.com/images/search?q=transport-layer-security-protocol+site%3amicrosoft.com&form=HDRSC2&first=1&tsc=ImageBasicHover

[2020-12-10 21:11] #3844 closed

[2020-12-10 21:11] illfated commented on #5075
There are also alternate views to look for specific images, like "**Transport Layer Diagram site:microsoft.com**":
- https://www.bing.com/images/search?q=Transport%20Layer%20Diagram%20site%3Amicrosoft.com&qs=n&form=QBIR&sp=-1&pq=transport%20layer%20diagram%20site%3Amicrosoft.com&sc=0-42&cvid=653E8A28C05B47DE9C9EF31A22CCAB19&ajf=60&first=1&tsc=ImageBasicHover

"**Transport Layer OSI Model site:micr

[2020-12-10 21:17] illfated commented on #5067
Thank you for the feedback. Feel free to open a new ticket if you happen to find out how that could be done, suggesting a text or phrasing used elsewhere, so we can update the document. We are always glad to have more feedback from users, especially if it helps us improve the documentation.

[2020-12-10 21:24] illfated commented on #4838
Looks reasonable to me. Could we reference some other article where this is a recommended usage, if we start a PR to have that command replace the `wuauclt.exe` methods?

[2020-12-11 03:12] yunwa opened #5109 "question about SUP internet required URL http://ntservicepack.microsoft.com"
On machine 1, the TCP test connection is success and reply message from ntservicepack.microsoft.com in netmon trace.

We could see the response from ntservicepark.microsoft.com on port 80.

On machine 2 , customer found the tcp test connection was failed. We captured the network monitor trace and no any response from ntservicepack.microsoft.com.

Note: Machine 2 has proxy and cx add all the URLs l

[2020-12-11 06:09] felinepc commented on #3880
It seems Microsoft added the auto update feature as of version 1.2.1446, which is good.

However, the behavior is controlled by the same registry "AutomaticUpdates" DWORD, which many of us previously used to suppress the "update notification" (which only notified, but wouldn't auto update) by setting it to 0.

We now need to set this again back to 2 to per documentation
"0 = Disable notifications.

[2020-12-11 06:09] #3880 closed

[2020-12-11 10:09] illfated commented on #4922
Hmm. I was hoping for text content to edit, but this is images only, no text.

I don't have access to any AD FS server, but maybe the correct images exist elsewhere on the internet already?

[2020-12-11 10:25] exchange12rocks commented on #4838
@illfated I am not sure that's an official way. Maybe MS doesn't actually want us to use that command

[2020-12-11 10:27] exchange12rocks commented on #4922
@illfated The screenshot with the SPN in the article is from ADSI Edit, not from the AD FS console. So if you have an access to a domain controller, you are good

[2020-12-11 10:30] illfated commented on #4922
@aferrillo : Just to check before I dig too deep down into this rabbit hole of finding the correct images, would you happen to have any good screenshot images to replace the ones in the article, making it easier to update the images to show the correct words ("host" instead of "http")?

[2020-12-11 10:43] illfated commented on #4838
Fair enough. I didn't know that, so it is a good thing that you mentioned that aspect. Not sure what we can do before we hear from someone in the MS Docs team.

[2020-12-11 15:26] thepiethief opened #5111 "What about Windows 10 ?"
This URL scheme does not work on Windows 10, typically used by users who are controlling windows servers right ? The article should show how to enable the URL to work on desktops too.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd04fe0-b87d-9c35-638d-8d9971746097
* Version Independent ID: be3

[2020-12-11 15:54] illfated commented on #5111
Maybe I'm a bit pedantic, but the document does state that the content only applies to Server versions of Windows.

Have you searched through the Windows 10 section of the MS Docs for this type of content?

[2020-12-11 16:01] illfated commented on #1989
The page has been updated several times (&thickapprox; 15) since this ticket was opened 2 years ago.

The question is fairly moot by now.

[2020-12-11 16:01] illfated commented on #1989
#please-close

[2020-12-11 17:45] illfated commented on #5078
@konstruktoid : This looks like something you would know more about than me.
Is this something we could check out to improve the document?

[2020-12-11 18:37] marypcbuk commented on #1989
this is making me think that Docs issues should auto-grab a copy of the page because two years on, I can't remember what it didn't have on at the time!

[2020-12-11 18:59] illfated commented on #1989
Hang on, there may just be a feature for it.

[2020-12-11 19:01] illfated commented on #1989
- Content Source: [WindowsServerDocs/get-started/whats-new-in-windows-server.md](https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/get-started/whats-new-in-windows-server.md?rgh-link-date=2018-11-27T22%3A45%3A48Z)
- (https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/get-started/whats-new-in-windows-server.md?rgh-link-date=2018-11-27T22%

[2020-12-11 19:03] illfated commented on #1989
Also: https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/get-started/whats-new-in-windows-server.md?rgh-link-date=2020-12-11T19%3A01%3A56Z

[2020-12-11 19:06] illfated commented on #1989
Not sure how well it works, but the last commit before you opened the ticket is this one: https://github.com/MicrosoftDocs/windowsserverdocs/commit/8da5e0031f01264057bbd568b3c429380376843d
(direct file link: https://github.com/MicrosoftDocs/windowsserverdocs/commit/8da5e0031f01264057bbd568b3c429380376843d#diff-7f643e7e513cd55f72b123c805245afc5212d14f0fa615579206702fbb1dd7ae)

[2020-12-11 19:07] illfated commented on #1989
It is also useful to look up the **History** (commits page) for the document you are interested in:
- https://github.com/MicrosoftDocs/windowsserverdocs/commits/master/WindowsServerDocs/get-started/whats-new-in-windows-server.md

[2020-12-11 19:51] marypcbuk commented on #1989
looking at that last commit is the clearest way to see it, thanks!

[2020-12-11 21:52] konstruktoid commented on #5078
Hi @tgmoo, are you perhaps running a Raspberry Pi (`GNU/Linux 5.8.0-1006-raspi aarch64`)?
If so, ARM isn't supported.
If you're not running on ARM, please provide information on which platform and distribution version.

[2020-12-11 22:12] f6gnz commented on #2428
Hi Steve,
I see there has been no reaction nor answers to my topic. If during one year nobody seemed interested, I think nobody will come back in the next year. So  it's better to close this issue as unsolved.
Best regards,
Radi
________________________________
From: Steve Danielson <notifications@github.com>
Sent: Wednesday, October 28, 2020 5:56:07 PM
To: MicrosoftDocs/windowsserverdocs <windows

[2020-12-11 22:42] illfated commented on #5078
Thanks a lot. I was unaware of those options (although when I look at the Linux version string now, it does look like it refers to Raspberry Pi.

Possibly lost cause, I assume.

[2020-12-11 22:43] matziq opened #5113 "Wsusutil configuresslcertificateName"
https://docs.microsoft.com/en-us/windows-server/administration/windows-server-update-services/deploy/2-configure-wsus#to-configure-ssl-on-the-wsus-root-server

Wsusutil configuresslcertificateName

needs a space between configuressl and certificatename

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85eb6a21-2659-019a-7

[2020-12-11 22:53] illfated commented on #5113
Thank you for noticing and reporting.

Fun fact: MS Docs pages containing odd and weird typos ( like this one ) are easy to trace to other sites, just because the typos don't occur in any other documents.

[2020-12-11 23:08] illfated commented on #5113
OK, I will go ahead and make a PR to correct that typo, as well as looking for other improvement details.

[2020-12-12 01:02] illfated commented on #5113
There you go. PR #5114 is ready for review, comments, and suggestions. Welcome.

[2020-12-12 01:24] illfated commented on #2428
Sorry, I was unaware that this ticket existed. I have just recently started looking up forgotten tickets to see what I can do to help.
( Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub. )

By the way, I am slightly confused by details in the main ticket post and not finding anything about "hidden" or "OEM" partitions. If that was taken from a real life sce

[2020-12-12 01:26] illfated commented on #2428
Anyway, I take it you are prepared to have this ticket closed, as you indicated in your comment today. Very well, at least we can assist you with that.

Feel free to open a new ticket if you find something that is really worth correcting, updating or improving for IT Pro Server Admins.

#please-close

[2020-12-12 01:26] #2428 closed

[2020-12-12 02:32] illfated commented on #1488
I see what you are saying, but there is also the area of responsibility for what is supported and what should or should not be documented the way it currently is.

First of all, this part of the MicrosoftDocs repository is mainly for the Windows Server Docs and should therefore primarily be concerned with the supported Server versions.

Secondly, if a need for client Desktop / Laptop / tablet supp

[2020-12-12 02:38] illfated commented on #4516
Please, feel free to continue using the **ss64.com** site (https://ss64.com/nt/) for Desktop/Laptop use.

The main idea here in the Windows Server docs is to keep a simple, barebone reference level for Server use, not so much for client device use.

[2020-12-12 02:38] illfated commented on #4516
#please-close

[2020-12-12 02:38] #4516 closed

[2020-12-12 02:45] illfated commented on #4204
Select. Select is the command you are looking for (in case you have not already found the answer).

[2020-12-12 02:45] illfated commented on #4204
#please-close

[2020-12-12 02:45] #4204 closed

[2020-12-12 03:17] illfated commented on #5109
See a very similar or the same question asked here:
- https://docs.microsoft.com/en-us/answers/questions/121284/wsus-update-url.html

For troubleshooting, see the following documentation page:
- https://docs.microsoft.com/en-us/troubleshoot/mem/configmgr/windows-server-update-services-best-practices

bing.com web search results related to "ntservicepack.microsoft.com":
- https://www.bing.com/searc

[2020-12-12 03:29] illfated commented on #5109
Suffice it to say that the host `ntservicepack.microsoft.com` may only be configured to respond to WSUS signals and traffic.

Also, feel free to read some notes I have accumulated during my time contributing to this Microsoft Docs repository:

Wish I could help, but this repository is *not* intended for regular support issues, support requests or support questions.

You may want to look elsewhere

[2020-12-12 05:54] illfated commented on #3655
**RPC Endpoint Mapper**
- https://www.grc.com/port_135.htm

### [**Ports and protocols**](https://docs.microsoft.com/en-us/troubleshoot/windows-server/networking/service-overview-and-network-port-requirements#ports-and-protocols)
- https://docs.microsoft.com/en-us/troubleshoot/windows-server/networking/service-overview-and-network-port-requirements#ports-and-protocols

### 135 TCP RPC (Remote Proc

[2020-12-12 05:57] illfated commented on #3655
See also https://ss64.com/nt/wevtutil.html for more Desktop (non-Server) related details.

[2020-12-12 05:57] illfated commented on #3655
#please-close

[2020-12-12 05:57] #3655 closed

[2020-12-12 06:00] illfated commented on #3755
Resolved in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/37819a361c7de233ba130a0e24c066a679219b07 .

#please-close

[2020-12-12 06:00] #3755 closed

[2020-12-12 06:15] illfated commented on #4294
Wish I had found this ticket earlier. This is usually TCP port 135, RPC Endpoint Mapper:

| Port # | Protocol | Name | Services using this port             |
| :----: | :------: | :--: | :----------------------------------- |
|  135   |    TCP   |  RPC | Message Queuing                      |
|  135   |    TCP   |  RPC | Remote Procedure Call                |
|  135   |    TCP   |  RPC | Exchange

[2020-12-12 06:15] illfated commented on #4294
- https://docs.microsoft.com/troubleshoot/windows-server/networking/service-overview-and-network-port-requirements#ports-and-protocols

[2020-12-12 06:17] illfated commented on #4294
#please-close

[2020-12-12 06:17] #4294 closed

[2020-12-12 07:03] illfated commented on #5077
&#9432; We're no longer updating this content regularly. Check the [Microsoft Product Lifecycle](https://docs.microsoft.com/en-us/lifecycle/products) for information about how this product, service, technology, or API is supported.

## Nltest

Applies To: Windows Server 2003, Windows Server 2008, Windows Server 2003 R2, Windows Server 2008 R2, Windows Server 2012, Windows Server 2003 with SP1, Win

[2020-12-12 07:07] Jahn08 commented on #5032
I've asked questions regarding the trouble on the [Microsoft Q&A portal](https://docs.microsoft.com/en-us/answers/questions/187092/web-client39s-about-page-and-feedback-link-are-not.html). I reckon, it makes sense to close this issue and reopen it later as long as there are relevant answers or comments, clarifying how the documentation should be amended.

[2020-12-12 07:07] #5032 closed

[2020-12-12 07:17] illfated commented on #819
You need to go into the page **wbadmin delete systemstatebackup** to see those options.

- https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/wbadmin-delete-systemstatebackup

[2020-12-12 07:18] illfated commented on #819
Not a real issue, only a question of using the links, either in the document text or in the Table Of Contents to the left of the page.

#please-close

[2020-12-12 07:18] #819 closed

[2020-12-12 08:43] snowygman opened #5115 "Incorrect hyperlink"
Hey. In the section that deals with RAS Gateway Management tools, there are two links to direct readers to a page about VMM and one for powershell commands.  Both links take us to the same location, i.e. the page about the VMM.

Please correct the link to take readers to the powershell commands. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-12-12 18:48] illfated commented on #5115
Thank you for noticing and reporting. Yeah, that looks like a copy-paste duplication, an oversight by the page author (or whoever wrote that section later).

Oddly enough, there is an actual intended duplication in this paragraph (**[Remote Access Cmdlets]**), but the links have to be placed correctly.

***

## <a name="bkmk_manage"></a>RAS Gateway Management Tools
Following are the management too

[2020-12-12 21:25] rossmpersonal commented on #5077
This ticket is about https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/windows-commands and not https://docs.microsoft.com/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/cc731935(v=ws.11) . You are correct that https://docs.microsoft.com/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/cc731935(v=ws.11) is no longer being updated per

[2020-12-12 22:03] illfated commented on #5115
There you go. PR #5116 is ready for reading, commenting, review and suggestions.

[2020-12-13 13:00] illfated commented on #5071
- https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/cc770963(v=ws.11)
- https://ss64.com/nt/repadmin.html

[2020-12-13 13:03] illfated commented on #5072
Aha, thank you. Good job, nice find. Thank you for providing the solution in addition to reporting the issue.

[2020-12-13 13:06] exchange12rocks commented on #5072
I think that while it makes sense to replace the link in the documentation, the TechNet Library link should be corrected as well. Because it might be used somewhere else as well

[2020-12-13 13:51] illfated commented on #5072
Good call. I will make the necessary changes. Thank you for the tip.

[2020-12-13 14:21] illfated commented on #5072
@exchange12rocks : By the way, are you suggesting to look for the same link in the other Docs pages as well, and correct as many of them as possible, adding those pages to the same PR? From what I can see, the TechNet Library link correction for this specific page is already suggested in the main ticket comment.

[2020-12-13 14:45] illfated commented on #5072
There you go. PR #5117 is ready for review, comments, and suggestions.

[2020-12-13 14:57] illfated commented on #4500
@exchange12rocks : The ticket looks like a test post by the ticket author, so we may have to close this, unless we hear from them again soon.

@eLgRuNgE : Unless you post a comment containing what you want to report as an issue with the page, we will have to conclude that this was just a test and close the ticket.

[2020-12-13 15:01] illfated commented on #4728
Sorry for taking so long to respond to your ticket and question. I notice that you asked the same question in comment https://github.com/MicrosoftDocs/windowsserverdocs/issues/4500#issuecomment-675507400 and have received a reply from @exchange12rocks .

Do you consider your question to be answered, or do you find a need for the page to be updated/improved in any way?

[2020-12-13 15:12] exchange12rocks commented on #5072
What I am saying that this ticket should not be closed just when the link on Create-a-virtual-switch-for-Hyper-V-virtual-machines.md is corrected, but only when the TechNet link is corrected as well.

[2020-12-13 17:58] illfated commented on #5072
Aha. Thank you. Very well, then. I will remove the "Closes" comment in my PR, then.

[2020-12-13 18:59] exchange12rocks commented on #5072
Thank you @illfated!

[2020-12-13 20:53] illfated commented on #5072
No problem. I guess I am just slow to draw conclusions some times, but that is part of how high functional autism works.

[2020-12-14 05:58] JackXuCN opened #5119 "Upgrading Failover Clusters on the same hardware-downtime"
[Enter feedback here]
I suspect there has downtime for the cluster resource during following action:
1. copy cluster resource in step1
2. rename the cluster in step 2

I would suggest following steps do the migration without downtime.
1. Evict first node and install OS Windows Server 2016 to join back to the cluster
2. Evict second node and install OS Windows Server 2016 to join back to the cluste

[2020-12-14 09:33] illfated commented on #5119
Looks like an interesting suggestion, so I will be looking forward to see a response from the document author.

@JackXuCN : Please be aware that it may take some time to get practical response from the MS Docs team members, due to the upcoming seasonal holidays.

[2020-12-14 11:37] illfated commented on #3416
No new updates or feedback during the last year.

#please-close

[2020-12-14 11:37] #3416 closed

[2020-12-14 15:03] mcoupe2001 opened #5120 "Can't connect to server with legal notice enabled using MRD app version 10.2.1646.0"
On servers with "Message text for users attempting to log on" setting applied via GPO, I do not get the option to click OK.  I just see the message "Connecting to desktop Configuring remote PC...." and eventually it times out. I am using Microsoft Remote Desktop version 10.2.1646.0
![MRD](https://user-images.githubusercontent.com/21247636/102097182-95880a00-3df3-11eb-9edd-7be54ad84bc2.jpg)

[2020-12-14 18:33] #5115 closed

[2020-12-14 18:36] #4782 closed

[2020-12-14 18:36] #4957 closed

[2020-12-14 18:36] #5105 closed

[2020-12-14 18:39] #5113 closed

[2020-12-14 19:32] #5072 closed

[2020-12-14 19:37] illfated commented on #5072
Oh man. I forgot that the commit text inside the PR would work the same way as the PR comment text.

Oh well. I was thinking about making a wider search for technet links anyway from inside my cloned copy on my computer and see how many files I can fit into a PR before it becomes unmanageable.

@exchange12rocks : Any thoughts on how many separate pages to include in a PR to fix old TechNet links a

[2020-12-14 19:45] felymich opened #5121 "No Basket available?"
Hello,

I used the article but
To access the Microsoft Update Catalog Site
In the WSUS administrative console, select either the top server node or Updates, and in the Actions pane click import Updates. A browser window will open at the Microsoft Update Catalog Web site.

In order to access the updates at this site, you must install the Microsoft Update Catalog activeX control.

You can browse thi

[2020-12-14 20:50] illfated commented on #5121
You want to be very patient if you are looking for support on these pages.
This repository is intended for reporting issues in the documentation and suggesting improvements.
If I may offer; a handful of notes I have collected during my time here in this repository.
Feel free to use the general advice:

Wish I could help, but this repository is not intended for regular support issues, support reque

[2020-12-14 20:52] illfated commented on #5121
Also, if you do have a Microsoft Support agreement or support via software license, I recommend contacting Microsoft support via phone.

[2020-12-14 23:32] illfated commented on #712
@ajgball : Do you have any test results or research confirming your issue ticket statement?

I think we need some form of proof to make the change you have indicated.

[2020-12-14 23:40] illfated commented on #3689
@mralmostperfect : Please note that the linked page is a reference page, and a limited reference as such. There are more complete reference pages available elsewhere, both in the /previous-versions/ directory and https://ss64.com/nt/forfiles.html .

Knowing that reference pages won't be changed unless actual errors are found and reported, I don't think there will ever be any attempts to change the

[2020-12-14 23:41] illfated commented on #3689
#please-close

[2020-12-14 23:41] #3689 closed

[2020-12-15 01:44] yutopio opened #5122 "Please remove trailing slash"
On line 35, please remove the trailing slash from the text, "To wipe the free space on drive C, type:\" because this causes localization error in other language version. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3812dfb-f308-4556-c90c-856a77e9b1ae
* Version Independent ID: c1d1c8d4-ec53-8463-e24d-c7258e2d

[2020-12-15 09:02] babulfir opened #5123 "Important flash is not there"
<outputvolumeorimage> | Identifies the drive on which to store the content of the repaired drive. All information on the output drive will be overwritten.
-- | --

recently we follow the document to perform the repair-bde, and we did not know that this process will overwrite the data. even though you mentioned in your article but some how i missed watching this and eventually we lost the data. lat

[2020-12-15 10:50] gerrynicol commented on #5033
Hi @iainfoulds.  Is there any update on the issue I raised? I can't see this documented anywhere by MS.

[2020-12-15 19:27] exchange12rocks commented on #5072
@illfated I would use one page per PR, because different page might require different reviewers. If the pages are about the same technology and have the same author, then putting them in the same PR shouldn't cause any inconveniences.

[2020-12-15 20:18] illfated commented on #5072
Thanks. Good advice.

[2020-12-15 20:47] eross-msft commented on #5122
@yutopio  I've corrected this file and it will go live with tomorrow morning's publish. Thank you for catching it!

[2020-12-15 20:47] #5122 closed

[2020-12-16 01:39] sasanmcp commented on #3934
Hi there, anything? we still need to know the differences between 2019/2016/2012.

[2020-12-16 03:24] bsper opened #5124 "Bad syntax for ktpass /pass option"
The syntax listed for the /pass option is not correct. Under both the Syntax and the Parameters sections, it makes it looks like +rndPass and -rndPass can be used as an arguments to the /pass option.

However, using /pass +rndPass actually sets the password to the string +rndPass. You can test this by using /pass * and manually typing in +rndPass when prompted for the password, and comparing the k

[2020-12-16 08:09] illfated commented on #5123
Seems like a fair point to make. I will create a suggestion and a Pull Request to have it added to the page.

By the way, I think the message deserves its own Important blob between the Syntax paragraph and the Parameters table.

[2020-12-16 08:42] illfated commented on #5123
There you go. PR #5126 is ready for review, comments, suggestions etc.

[2020-12-16 08:58] illfated commented on #5124
Interesting. According to https://social.technet.microsoft.com/wiki/contents/articles/36470.active-directory-using-kerberos-keytabs-to-integrate-non-windows-systems.aspx#Command_syntax_breakdown , `+rndPass` is its own separate parameter to the command `ktpass`.

[2020-12-16 09:00] illfated commented on #5124
I wonder whether we need more proof before suggesting a new separate table row for the `+rndPass` parameter.

[2020-12-16 12:57] A-Mofi opened #5127 "Documentation page about using command redirection operators should be added referenced from main page about Windows Commands"
The command redirection operators `<`, `>`, `>>`, `>&`, `<&` and `|` are used very often on using Windows commands in command shell or in batch files. But there is no page which describes them in this repository of documentations about the Windows commands.

There is the Microsoft documentation page [Using command redirection operators](https://docs.microsoft.com/en-us/previous-versions/windows/it

[2020-12-16 14:32] illfated commented on #5127
Thank you for this recommendation. I will see what I can do to make a PR to have that added in some form like you described.

[2020-12-16 18:10] mmahacek opened #5128 "FR: Hide "newer version installed" extensions"
When looking at the list of available extensions, there are a bunch that can show as "newer version installed."  Since these are installed, they should not show up on the available list, especially since they can't be downgraded/removed from that list.

[2020-12-16 18:11] mmahacek commented on #5128
wrong repo

[2020-12-16 18:11] #5128 closed

[2020-12-17 07:45] konaya opened #5129 "REM comments are evaluated for substitutions"
Lines prefixed with REM are still evaluated for substitutions. The documentation should therefore mention that having percentage symbols (%) in a REM comment is problematic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f57efb2-68c8-ceee-9243-83b670c9c437
* Version Independent ID: a3056411-fc71-f377-09d5-f6f452149b8b

[2020-12-17 11:31] jasonwragg opened #5130 ""(You would need a new screen shot here) " - left on page"
"(You would need a new screen shot here) " on the page and there isn't a new screen shot and the text has been left on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf9cb6e-38be-d28e-6ad3-1151b7e1a379
* Version Independent ID: 3eed2746-fc1e-b7c3-ea04-203291aec098
* Content: [Configuring intranet forms-based

[2020-12-17 14:18] javoger opened #5131 "Switch from SAC to LTSC"
Is it possible to switch a running server with SAC to the LTSC channel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd87c102-6f5d-376b-4665-98ff94b4ca41
* Version Independent ID: f6140fb6-30bc-e9e7-463a-bf5bfc926165
* Content: [Windows Server servicing channels](https://docs.microsoft.com/en-us/windows-server/get-st

[2020-12-17 14:58] markatdxb opened #5132 "Failover configuration using PS and required permissions"
Hi,
would be great if you could add the PS script showing how to add the failover configuration and information on what permissions are need on partner server in order to setup the failover partnership

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a614930-18ea-fffb-62df-77ce38bf1393
* Version Independent ID: da1c1ecc

[2020-12-17 16:18] ii-batman opened #5133 "Update alert not coming up"
Hi
I have nothing configured in the registry for auto-update but my clients do not see the pop.
Note that I see the pop up and I am an admin on my machine but users are not admins.
Thanks, M
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b56197c8-e490-f6fe-a494-a8aa584a8faa
* Version Independent ID: 46d1a544-517b-a4eb-6

[2020-12-17 16:58] meoso opened #5134 "Debian repository not supplied."
Debian repository instructions not supplied on
  https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software
 but the product exists in https://packages.microsoft.com/debian/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25943cc5-9927-5ca7-b9db-4c1d398726c5
* Version

[2020-12-17 17:45] illfated commented on #5131
Before I start looking for the answer, is this question based on an actual scenario at your end?

[2020-12-17 18:03] illfated commented on #5134
@konstruktoid : Would you like to verify this statement?

[2020-12-17 18:13] javoger commented on #5131
No, its a generel question.

[2020-12-17 18:19] k3for commented on #5099
parameter order not important

[2020-12-17 18:28] illfated commented on #5099
Thanks. Duly noted. Feel free to comment in the PR if you like.

[2020-12-17 18:29] illfated commented on #5131
Thanks. I will see what I can do to find a reasonably correct answer.

[2020-12-17 19:41] illfated commented on #5133
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to impro

[2020-12-17 19:43] illfated commented on #5133
In case your question is about an operational scenario, you should definitely contact your nearest Microsoft Support instance (phone, e-mail, or web schema).

[2020-12-17 19:49] brucejo75 opened #5135 "sshd fails to start"
I have `OpenSSH.Server` installed, but `sshd` fails to start.

-`Powershell` is running as administrator.

## Repro steps
[code]

## System Event Log:
`The OpenSSH SSH Server service terminated unexpectedly.`

## Firewall Settings look odd:
![SSHD FireWall Settings](https://user-images.githubusercontent.com/14342237/102535856-a5a32200-405d-11eb-9626-703878709cb2.jpg)

As a test I disabled all rule

[2020-12-17 20:16] illfated commented on #1238
Resolved in commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/881e73bbdc5c15237526c24bb07068a18a138731

#please-close

[2020-12-17 20:16] #1238 closed

[2020-12-17 22:13] illfated commented on #5135
@konstruktoid : Do you have any ideas about this? Or should we refer to some support instance?

[2020-12-17 22:38] brucejo75 commented on #5135
I have no idea, I guess I need support.  thanks!

[2020-12-17 22:59] konstruktoid commented on #5135
Without any error logs I can't really assist. Anything in EventViewer?

[2020-12-17 23:27] konstruktoid commented on #5134
Yeah, that's correct. Not all distributions available in the repo (https://packages.microsoft.com/config/) are shown with examples on the page.
I don't know if it would help if we showed _all_ examples, perhaps an instruction about the availability of other distros would be enough.

[2020-12-18 00:40] brucejo75 commented on #5135
yes, from my original [comment](https://github.com/MicrosoftDocs/windowsserverdocs/issues/5135#issue-770322212):

Can I turn on other logging?

[2020-12-18 05:41] illfated commented on #5135
[code]

[2020-12-18 06:26] illfated commented on #5134
I also think it will be necessary to add some text saying whether the additional distros are supported or not.

[2020-12-18 07:11] illfated commented on #5132
Looks like we need to enlist some assistance from the PowerShell Docs team.

[2020-12-18 12:14] konstruktoid commented on #5135
`The OpenSSH SSH Server service terminated unexpectedly.` won't tell us about the root cause, and I don't know enough about logging on Windows on how to turn that into a useful message.

[2020-12-18 16:31] vixenathena opened #5136 "SetClusterResourceName throws an exception"
During the final cutover for storage migration from Server 2012 to Server 2019, the process gets stuck at 38% and throws an exception.
Exception happened during MapSourceNetworkInterfaces: One or more errors occurred., error=-2146233088, stack=   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCo

[2020-12-18 19:18] brucejo75 commented on #5135
Hi,

Thanks for your comments!

I think I found the relevant event logs with more useful information.
Under `Applications and Services Logs -> OpenSSH -> Admin`.

I get the following errors sequentially:
1. `sshd: error: Bind to port 22 on :: failed: Permission denied.`
2. `sshd: error: Bind to port 22 on 0.0.0.0 failed: Permission denied.`
3. `sshd: fatal: Cannot bind any address.`

**Note**: I r

[2020-12-18 21:10] Treeced opened #5137 "Azure MFA oath tokens support?"
Does this ADFS / Azure MFA integration support oath tokens (like YubiKeys) that are setup with Azure MFA?

Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f333e8cb-c046-ee06-d33d-d7dc8e8af695
* Version Independent ID: 10838695-f60e-42a7-b0e8-eed7820fd333
* Content: [Configure AD FS 2016 and

[2020-12-18 21:26] konstruktoid commented on #5135
Thanks @brucejo75, can you verify you user with `whoami` before starting `sshd`?
If you are a system user, could you please step through https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps?

[2020-12-18 23:51] brucejo75 commented on #5135
Could this have anything to do with the multitude of inbound rules I have for sshd & OpenSSH?

- Configured the `sshd_config` file, added:
[code]

Here is the result of running the commands:
[code]

No log files are output.

Should I move my issue over here: https://github.com/powershell/Win32-OpenSSH/issues?

[2020-12-19 09:26] illfated commented on #5135
Possibly. Maybe there are some recommended ways to set specific rules for its use. Myself, I don't have the required experience to know the answer.

(part of the log omitted)

Looks like a good idea to me. I am hopeful that they may have more experience with proper usage and setup of OpenSSH in a Windows environment.

[2020-12-19 13:46] brucejo75 commented on #5135
Closing...

[2020-12-19 13:46] #5135 closed

[2020-12-19 19:38] mihai-preda opened #5138 "These instructions do not work on Windows 10 20h2"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c89b7b3-c05f-b517-6109-04e6a97195c3
* Version Independent ID: 1e4b742e-d999-2c1e-a396-dc149f7ac76b
* Content: [OpenSSH key management for Windows](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement)
* Content

[2020-12-19 22:33] illfated commented on #5138
See the following issues on this list, intended to be resolved or updated by PR #4788 **update OpenSSH key management**

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **

[2020-12-19 22:39] illfated commented on #2747
List of related issue tickets:

- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key auth following docs** (Open)
- #4598 **Instructions provided

[2020-12-19 22:40] illfated commented on #3456
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key auth following docs** (Open)
- #4598 **Instructions provided ends with a

[2020-12-19 22:41] illfated commented on #3806
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key auth following docs** (Open)
- #4598 **Instructio

[2020-12-19 22:41] illfated commented on #4345
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4518 **Unable to configure OpenSSH for public key auth following docs** (Open)
- #4598 **Instruc

[2020-12-19 22:41] illfated commented on #4518
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4598 **Instructions provided ends with an error** (Op

[2020-12-19 22:42] illfated commented on #4598
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:42] illfated commented on #4622
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:42] illfated commented on #4634
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:43] illfated commented on #4690
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:43] illfated commented on #4702
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:43] illfated commented on #4743
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:44] illfated commented on #4770
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:44] illfated commented on #4787
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 22:44] illfated commented on #5000
List of related issue tickets:

- #2747 **A better explanation can be found here** (Open)
- #3400 **Can't install the "OpenSSHUtils"** (Closed)
- #3456 **Misleading title/summary causing search confusion** (Open)
- #3806 **OpenSSHUtils is deprecated** (Open)
- #3970 **OpenSSH installation** (Closed)
- #4345 **OpenSSHUtils Not Needed** (Open)
- #4518 **Unable to configure OpenSSH for public key aut

[2020-12-19 23:45] Archov opened #5139 "Compact documentation out of date/incomplete"
the page listing info on Compact doesn't show all of the arguments possible, you get more complete information by typing "compact /?" in CMD. Would be great if it was updated as complete.

![image](https://user-images.githubusercontent.com/21347464/102701927-01b6a380-4222-11eb-8a4b-d27eed4b0508.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-12-20 22:47] jguerin opened #5140 "Define and expand acronyms"
There are acronyms on this page that aren't expanded or defined. It's recommend that this is done for best reader comprehension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6bdcea6-e429-95ce-0012-a30241941e36
* Version Independent ID: b37b7c92-12d0-9d03-c181-05b7cfcbe276
* Content: [Best Practices for securing AD F

[2020-12-20 22:48] jguerin commented on #5140
Example here is 'NLB', which I'm assuming is 'Network Load Balancer'?

[2020-12-21 10:21] CXMelga opened #5142 "AD Forest Recovery, SYSVOL authoritative restore forest root only, does not make sense to me."
[Hello
 The document at the following [link ](https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/manage/ad-forest-recovery-perform-initial-recovery)

States in a multi-domain forest (parent-child forest) you only perform an authoritative restore  of SYSVOL for the forest root domain (and thereby a non-authoritative restore of SYSVOL for the other domains in the forest.)

This does not

[2020-12-21 17:54] BR77BE opened #5143 "WSL for fsutil?"
"You must enable Windows Subsystem for Linux before you can run fsutil."

I don't have WSL but I do have fsutil.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18562b49-3654-a3ff-9617-3c59d50a7d1e
* Version Independent ID: 3e69bcb1-b1e6-f0ea-e861-5ced88fe6a24
* Content: [fsutil](https://docs.microsoft.com/en-us/windows

[2020-12-22 18:01] illfated commented on #4454
New attempt at resolving the issue of the outdated link. My PR #5144 is ready for review (might take until the start of January before it gets merged, due to the holidays).

[2020-12-22 19:45] exchange12rocks commented on #4922
@illfated That's not a property of ADFS, you'll find it in AD DS. Just use ADSI Edit, for example: create a test account, assign SPNs to it, make a screenshot for documentation, delete the account =)

[2020-12-22 19:47] exchange12rocks commented on #4922
I also found where we can see what classes the "host" class represents: take a look at the `sPNMappings` attribute at the `CN=Directory Service,CN=Windows NT,CN=Services,CN=Configuration,DC=<your context here>`

[2020-12-23 03:25] rob837428394 opened #5145 "Misleading SQL Support"
CAU is only supported with SQL FCI clusters. It is not supported for SQL Availability Groups. The article states "all Microsoft SQL Server clusters" are supported, this is misleading.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3ded90e-5809-5eda-18d4-404475835a25
* Version Independent ID: f8fe4f91-a6ee-f233-4a99-e13

[2020-12-23 14:32] illfated commented on #5145
Hmm. I am not an expert in this topic, so I defer to experienced admins on this. But to me, it looks like this is taken out of context compared to where in the document the phrase is found. To me, it seems that "all Microsoft SQL Server clusters _that support business-critical services_" is a narrower definition than the one suggested above.

[2020-12-23 16:12] illfated commented on #5143
You are probably correct, I haven't had the pleasure of using `fsutil` myself. Have you tried using it to perform any tasks, like using any of the parameters or any specific structured `fsutil` command to achieve something practical, without having WSL installed? (You might be able to, I don't know.)

BTW, I am mostly answering here now because I know that it may take quite some time before someon

[2020-12-23 16:49] illfated commented on #4922
Thank you for the information. I am currently on sick leave, but I may be able to test this if it is safe to do remotely on a production server.

[2020-12-23 18:07] illfated commented on #5140
I tried to look for "NLB" — in which paragraph or section did you find it? I am having trouble finding it in the linked document page.

[2020-12-23 18:12] illfated commented on #5140
Yes, that seems to be correct. Looking at the preceding text, I find this sentence (my emphasis added):

I agree with you on the point that NLB and its expanded name could have been mentioned in the preceding text.
Could you make a list of the initialisms and acronyms you find needs expanding for clarification?

[2020-12-23 20:34] rob837428394 commented on #5145
Availability Groups and Failover Cluster Instances (FCI) are both designed and supported to host 'business-critical services'.

When CAU is applied to Availability Groups it may cause failures and downtime, see official documentation on this behavior in link below. Although this article refers to SQL 2012. There does not seem to have been any public announcements stating Microsoft's support on thi

[2020-12-23 22:17] BR77BE commented on #5143
@illfated

Thanks for the response.

Yes, I can perform fsutil functions without WSL.

What should be corrected is the deletion of the following, as it is evidently untrue:

[2020-12-23 22:29] illfated commented on #5143
I am thinking much of the same, especially when looking at other references like stackoverflow.com, ss64.com and other places, it is often not referred to using a Linux subsystem at all to run `fsutil`:
- https://stackoverflow.com/questions/1893200/why-fsutil-exe-takes-less-time-to-write-a-huge-file-into-disk-than-programmatica
- https://ss64.com/nt/fsutil.html

Still, it feels like there should b

[2020-12-23 22:35] illfated commented on #5143
Would be very interesting to see if any complex `fsutil` commands are not available on Windows without WSL, only being member of the Windows Administrators group.

[2020-12-23 22:38] jguerin commented on #5140
I will let you do that, I was merely pointing out an instance that I observed that I had to find the meaning for myself. Acronyms in our technical documentation shouldn't be left for the user to decipher unless it's one that's in very wide usage (such as TCP). :)

Thank you for following up!

[2020-12-23 22:40] jguerin commented on #5140
@illfated doh, I just realised that you're not a Microsoft employee! My bad!

[2020-12-24 02:29] illfated commented on #5140
No problem. I tend to come across as too much of a "know-it-all", so I don't blame you. 🙂

[2020-12-24 02:35] illfated commented on #5140
Also, just to leave you some extra info I have picked up during my time here on GitHub, moreover specifically here in the MicrosoftDocs repository, here it goes:

***

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pa

[2020-12-24 14:52] illfated commented on #5145
Thank you. Very well. I will browse the documentation and see if some reasonable update can be derived from it. Not sure how soon I can start working on it, due to the holidays and more.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

[2020-12-24 20:46] ilRobbi opened #5147 "Hyper-v2019 vm nic objects limit is 8, not 64!"
Hello,

I've a lab env. hyper-v 2019 and I need to add 16 nic (external) to a vm that acts as a firewall; after the eighth nic a message displays that I've reached the maximum number of network adapter object.

The docs says 64 nic, that is not true.

Regards,
Roberto.

![Immagine](https://user-images.githubusercontent.com/76570731/103105985-fc969180-4631-11eb-93ab-23e13433bdf4.png)

![Immagine](h

[2020-12-24 22:02] illfated commented on #5142
Please be aware that this repository is intended for documentation improvement based on reliable feedback from the community. This basically means that support questions may not be answered as such, unless the questions provide references to reliable sources showing that the linked document page is in need of improvement or correction based on other known facts. Allow me to add some information I

[2020-12-24 23:30] illfated commented on #5139
Output from the command `compact /?` on a Windows Server 2016 Standard, production server:
[code]
While I agree that the **Windows Server > Windows Commands > Commands by Server Role** section could be useful to have updated content to match the supported versions and their help texts, I also see that the current content is inherited from way older Windows Server versions (Windows 2000 or Windows

[2020-12-27 07:04] illfated commented on #5136
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

I hope you have tried contacting Microsoft Support regarding your issue. This repository is intended for MS Docs documentation issues (errors, corrections, improvement suggestions).

BTW, if this were a support instance forum and not a documentation rework site, I would have a

[2020-12-27 07:15] illfated commented on #5136
Also: if you manage to get support or help to resolve your issue, and the results show that there is something wrong in the documentation, don't hesitate to post feedback regarding your findings in contrast to the existing documentation. Please also keep in mind that troubleshooting a complex scenario like yours may uncover issues and causes different from methods or usage recommended by Microsoft

[2020-12-27 07:17] illfated commented on #5120
Which page (URL) sent you here?

[2020-12-27 07:48] illfated commented on #5023
# [Frequently Asked Questions about Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/faq#how-do-i-uninstall-a-wsl-distribution)

## How do I uninstall a WSL Distribution?

On builds prior to 1709 (16299) open a command prompt and run:

[code]

WSL distributions installed **from the Store** can be uninstalled **like any other Windows app**, by right-clicking on the app tile

[2020-12-27 07:49] illfated commented on #5023
Thank you for the feedback and for contributing to make the MS Docs better!

[2020-12-27 09:44] illfated commented on #5023
Please also note that I am making another PR to (hopefully) close this ticket. I am adding a "See Also" section to the page referenced in this ticket.

[2020-12-27 11:48] illfated commented on #5023
There you go. PR #5148 is ready for review, comments, and suggestions.

[2020-12-27 19:31] mcoupe2001 commented on #5120
I clicked on Help tab under Remote Desktop App which took me to "Get started with the Microsoft Store Client" page.  I then scrolled to the very bottom where there's a link for "View all page feedback".

![image](https://user-images.githubusercontent.com/21247636/103178351-144b6100-4850-11eb-9e18-1ca95afa801e.png)

[2020-12-27 20:35] jada4p opened #5149 "Change in xcopy beavior after 20H2 Win10Pro update"
To back my data I created simple script (bat file), part of which is:

set Anc=ancestry\save
xcopy C:\%Anc% %BackupTarget%%BackupDate%\%Anc% %Flags%

Running this script above lines translate into (user name changed -;)

set Anc=Ancestry\save
C:\Users\xxxxxx\Desktop>xcopy E:\Ancestry\save F:\backups\magrata\20201208\Ancestry\save /I /F /H /K /Y /C /D /R

The xcopy command creates Ancestry director

[2020-12-28 00:34] AvrumFeldman opened #5150 "Outdated instructions for Security groups creation"
On the current documentation the method to create the DHCP security groups is via `netsh`, while this is technically correct it is still outdated as there is already a PowerShell way to do it, via [Add-DhcpServerSecurityGroup](https://docs.microsoft.com/en-us/powershell/module/dhcpserver/add-dhcpserversecuritygroup).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-12-28 00:42] illfated commented on #5149
Parameters used in your example: `/I /F /H /K /Y /C /D /R`

Those parameters from the MS Docs reference page:

| Parameter | Description |
| :-------: | :---------- |
| /i | If Source is a directory or contains wildcards and Destination does not exist, xcopy assumes Destination specifies a directory name and creates a new directory. Then, xcopy copies all specified files into the new directory. By

[2020-12-28 00:52] illfated commented on #5149
Hang on. I think I see where you went wrong. You did not include either `/E` or `/S` in your parameter list. That is a user error.

Do yourself a favor and use both `/S` and `/E` at the same time, so you don't forget to include any of them.
I also recommend that you use `/V` to verify that the file copying process ended 100% successfully, even if it takes a bit more time.

See also the ss64.com pa

[2020-12-28 00:56] illfated commented on #5149
Thank you for checking in with Microsoft Docs to contribute. You are very welcome, just keep in mind the intended functionality of these pages.

In any future contributions, you may also want to learn more about MarkDown and "GitHub Flavored MarkDown" to improve the readability of your tickets.

#sign-off

#please-close

[2020-12-28 00:56] illfated commented on #5149
#please-close

[2020-12-28 00:56] #5149 closed

[2020-12-28 01:02] illfated commented on #5120
OK, thanks, I see. The actual link to use for reporting issues in the documentation, the button named [ **This page** ] should be used:

![image](https://user-images.githubusercontent.com/38162891/103183050-6fad3b80-48b0-11eb-9073-6bd6434e19ed.png)

And in this case, it would have produced something like the following:

***

[Enter feedback here]

On servers with "Message text for users attempting

[2020-12-28 01:04] illfated commented on #5120
Please also be aware that this repository and its issue ticket system is intended only for reporting issues in the documentation pages themselves (document pages on docs.microsoft.com).

Here is a comprehensive message I have composed over the last couple of years I have contributed to these pages in my spare time:

***

Wish I could help, but this repository is not intended for regular support is

[2020-12-28 01:13] illfated commented on #5120
Unfortunately, it usually takes weeks, if not months, to follow up on questions in tickets where there is no helpful content suggesting improvements for the linked page(s).

I also recommend that you either seek assistance from either Microsoft Support on the phone, or use the forums I listed above (one where you think your issue will be most positively replied to, or all of them). I am only sorry

[2020-12-28 01:15] illfated commented on #5120
I am sorry to leave you like this, but if you ever find that there is something important missing or incorrect on the page(s), do not hesitate to post again regarding documentation correction or improvements. The MS Docs team and us contributors are more than happy to receive tickets with practical, useful information to improve the docs.

I wish you the best of luck in your endeavours.

#please-c

[2020-12-28 01:15] #5120 closed

[2020-12-28 01:56] illfated commented on #5137
(Sorry for commenting a week later than I intended originally.)

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

Please note that this repository and its team members is not equipped to handle support questions, support issues or other technical queries. This issue tracker is intended to handle reports on issues in the documentation, so your question wou

[2020-12-28 02:07] illfated commented on #5029
@fmokren : Please note that the **Windows commands/Commands by Server role** directory is not intended as a user manual for each command.

One of the challenges is that this document hierarchy is more or less a descendant of the command list from Windows NT 4.0 and Windows 2000. It was never intended to be a 100% documentation for each and every command, just a simple, straightforward lookup index

[2020-12-28 02:10] illfated commented on #5029
However, if you find that there is legitimate, everyday usage where essential information is needed for all users of this command, do not hesitate to open a new ticket with that information available, ideally with links and references to what you know it should look like to be equally useful for all IT Pro users and IT administrators.

Thank you for contributing to make the MS Docs documentation b

[2020-12-28 02:10] #5029 closed

[2020-12-28 02:13] illfated commented on #5007
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to impro

[2020-12-28 02:13] illfated commented on #5007
#please-close

[2020-12-28 02:13] #5007 closed

[2020-12-28 02:15] illfated commented on #4159
Please use real support instances like Microsoft Support or Microsoft Support forums, depending on what your license covers in terms of support assistance.

[2020-12-28 02:15] illfated commented on #4159
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to impro

[2020-12-28 02:15] illfated commented on #4159
#please-close

[2020-12-28 02:15] #4159 closed

[2020-12-28 02:18] illfated commented on #893
Please use a real support instance like Microsoft Support or Microsoft Forums. This repository is intended for documentation improvement only.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repos

[2020-12-28 02:19] illfated commented on #893
#please-close

[2020-12-28 02:19] #893 closed

[2020-12-28 02:23] illfated commented on #583
Please use a real support instance like Microsoft Support or Microsoft Forums. This repository is intended for documentation improvement only.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repos

[2020-12-28 02:23] illfated commented on #583
#please-close

[2020-12-28 02:23] #583 closed

[2020-12-28 02:25] illfated commented on #561
Please use a real support instance like Microsoft Support or Microsoft Forums. This repository is intended for documentation improvement only.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repos

[2020-12-28 02:28] illfated commented on #561
Additionally: Without contribution content in form of constructive suggestions, references or links to what the documentation should include or how it should look, it is less likely that the commands documents in the **Windows commands/Commands by server role** will change other than from error corrections or minor updates.

[2020-12-28 02:28] illfated commented on #561
#please-close

[2020-12-28 02:28] #561 closed

[2020-12-28 02:32] illfated commented on #5143
Just for your information (FYI): The holiday season may delay any feedback from the MS Docs team members and document authors.

[2020-12-28 02:45] illfated commented on #1369
[code]

[2020-12-28 03:01] illfated commented on #1369
Equivalent Windows Server 2016 output:

[code]

[2020-12-28 04:01] illfated commented on #1369
Ugh. Oh well. 2 attempts, 1 functional result. PR #5151 is ready for review, comments, and suggestions.

[2020-12-28 04:14] illfated commented on #4955
I seriously doubt it, due to the difference in nature between DHCP and WINS.

From experience, I supervised a WINS database (represented in the GUI) on a small business server back in 2003-2003, both on Windows NT 4 and Windows 2003 Server. Typically for WINS is that it keeps data on hostnames long after they have been replaced and I had to remove (tombstone) every removed computer manually.

DHCP

[2020-12-28 04:19] illfated commented on #4955
There are also other factors you would need to consider:
1. How often do the client computers in your network request a new IP address? Only during cold boot, or on each reboot as well?
2. Is the downtime for your DHCP Server service likely to affect your computer network more than it does for WINS?
3. Do you have any backup servers or services available in case one of the offline services takes m

[2020-12-28 04:35] illfated commented on #1024
Resolved in PR #1939 , commit https://github.com/MicrosoftDocs/windowsserverdocs/commit/d0a0ddc47d2b28608d866261ef303ba5af079193 .

#please-close

[2020-12-28 04:35] #1024 closed

[2020-12-28 05:03] illfated commented on #2408
You are definitely correct. Both 2 sentences following the one with the typo "patch" in it use the word 'path' instead of "patch".

I will make sure that typo gets fixed.

[2020-12-28 05:34] illfated commented on #2408
There you go. PR #5152 is ready for review, comments, and suggestions.

Thanks for pointing out the typo. I found one more, in addition to cleaning up some source format abuse.
My only regret is that I didn't start going through the old cases earlier than this year, but 2020 has changed a lot of things.

[2020-12-28 06:14] illfated commented on #3226
- https://portal.msrc.microsoft.com/security-guidance/advisory/CVE-2019-1126
  — auto redirects to —
- https://msrc.microsoft.com/update-guide/vulnerability/CVE-2019-1126

[2020-12-28 06:19] illfated commented on #3226
GitHub page link from the date this issue ticket was opened:
- https://github.com/MicrosoftDocs/windowsserverdocs/blob/master@%7B2019-08-19T21:37:15Z%7D/WindowsServerDocs/identity/ad-fs/deployment/Updates-for-Active-Directory-Federation-Services-AD-FS.md

Link available on the page at that date:
- https://portal.msrc.microsoft.com/security-guidance/advisory/CVE-2019-1126

Seems like it must have b

[2020-12-28 06:21] illfated commented on #3226
Anyway, since it is working now (unknown for how long), we need a new ticket with updated information based on the current document page state.

#please-close

[2020-12-28 06:21] #3226 closed

[2020-12-28 06:28] illfated commented on #3249
Good point. It is not even written as the initials for "exempli gratia" (e.g.), but more like the Norwegian Nynorsk word "eg" (nn-no) meaning "I" (me, myself).

Never mind the details. I will create a PR for it. Sorry it has taken so long. Sometimes I wish I had at least 1 twin brother with the same mindset as me.

[2020-12-28 08:18] illfated commented on #3249
There you go. PR #5153 is ready for review, comments, and suggestions. Better late than never, eh? Oh well. 🙂

[2020-12-28 08:28] illfated commented on #2570
As you can see from the links directly above my comment, there was an attempt to clarify the text almost a year after this ticket, but it still needs to be more precise.

[2020-12-28 09:30] illfated commented on #2570
PR #5154 is now ready for review, comments and suggestions.

[2020-12-28 13:05] doctordns opened #5155 "Disk Management CPL app removed from WIndows 10 - this page needs updating"
This page is no longer accurate - this wizard has been removed.

And so far as I can tell, there is no no GUI way to change drive letters either

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f8441a-d145-c5ce-36ee-49058d0c09b4
* Version Independent ID: 49a7f4be-4d96-8b7b-537d-3a758d0a4beb
* Content: [Change a drive l

[2020-12-28 17:08] jada4p commented on #5149
First of all I apologize to place my question/problem in inappropriate
place... and thanks a lot for your help. I tried to ask on AskWoody forum,
unfortunately up to now there was no real help.

But, unfortunately, it didn't change the situation. Even adding values of
"/S /E" to flags (which I thought are not needed, for I wanted to copy only
this one folder), nothing changed, selected folder (and

[2020-12-28 22:18] illfated commented on #5149
Fair enough, thanks for the feedback. Likewise, have a very good new year. 🥳

Just a last suggestion: Even if you keep looking for a solution to using your script (which worked on the old computer, but not the new), consider the possibility that the new computer might use more modern data stream handling for faster communication and that a fast scripted backup method could (in theory) be mishandle

[2020-12-29 04:14] illfated commented on #5155
Do you have documentation or proof for your statement being the case? It works on my Windows 10 20H2 computer.

![image](https://user-images.githubusercontent.com/38162891/103256956-7f4f8180-498f-11eb-9fa6-619dfeedb51d.png)

![image](https://user-images.githubusercontent.com/38162891/103256998-aefe8980-498f-11eb-9115-24b16e7020e4.png) ![image](https://user-images.githubusercontent.com/38162891/103

[2020-12-29 05:01] illfated commented on #5090
I see what you are saying, but I don't know. Maybe there's no shortcut to the information, unless you use a precisely tuned web search?

Seeing that the last link only points to a Requirements page for hardware and OS requirements, and that the other points to the _Overview_ page for **Guarded fabric and shielded VM** , it makes me think that maybe this is something you need to read through the en

[2020-12-29 05:04] illfated commented on #5090
By the way, this ticket could use the label **[Guarded fabric]**

[2020-12-29 07:50] Olinsa67 opened #5156 "Windows Server, version 1803 and later are governed by the Modern Lifecycle Policy."
[Enter feedback here]

There is a mistake with the note at the bottom of the page, that says "Windows Server, version 1803 and later are governed by the Modern Lifecycle Policy."

But there is no version 1803 that appears in the list of Windows Server current versions by servicing option.

Is it an error with the 1903 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-12-29 10:35] doctordns commented on #5155
Thanks for that comment.

[2020-12-29 10:35] #5155 closed

[2020-12-29 10:40] doctordns commented on #5155
It was an mac,not a cpl app. My bad. That being said, the new did management settings app does change things. But once that app is working, this page can be updated.

Closed.

[2020-12-29 14:07] illfated commented on #5155
Thank you for the feedback.

[2020-12-29 16:05] jordanmills commented on #3249
I know the feeling about having a twin.  I'm familiar with the Latin, but "e.g." is not a drop in replacement for the word "example".  I was not aware of the Norwegian Nynorsk.  Thank you for the quick action once you were able to get to this!

[2020-12-29 16:07] jordanmills commented on #3226
I just see a page empty of content at that URL, but that is as likely to be the broken computer I'm currently using.  Thanks!

[2020-12-30 11:24] illfated commented on #3226
Yes, it must be something at your end (firewall or browser issues?), because both of the links I posted above are working OK here.

[2020-12-30 14:09] kekici opened #5158 ""mail filter" wording is not correct here.. its causing confusion"
[Enter feedback here]

Document including below lines;

"This issue may occur if the packets are dropped during high traffic bursts. Ensure that there is no traffic filtering occurring (for example, with a mail filter). After eliminating this possibility, gradually increase the number of buffers in the guest operating system and verify."

Here we are telling that; MAIL FILTER can cause a package D

[2020-12-30 17:01] illfated commented on #5158
Fair point. I will open a Pull Request to ask for this correction to be made. Thank you for contributing.

[2020-12-30 17:14] illfated commented on #5158
For other contributors who want to go directly to the referenced paragraph, here is the anchor link:
- https://docs.microsoft.com/en-us/windows-server/troubleshoot/troubleshooting-cluster-event-id-1135#cluster-installed-in-the-vmware-virtualization-platform

[2020-12-30 19:43] illfated commented on #5158
Derp. I was a bit trigger-happy there and pushed my first commit before checking that all my documented changes were present. Found at least one missing, so I start again with a new commit. BRB.

[2020-12-30 22:27] illfated commented on #5158
Anyway, at this point in time, I am more than tired of finding issues to fix in that document. Some of them I can't even fix myself.

So here I go again on my own ...  🎵 🎵 🎶 🎵 🎵

[2020-12-30 22:40] illfated commented on #5158
There you go. PR #5159 is now open for review, comments, and suggestions.

[2020-12-31 19:31] illfated commented on #5156
Interesting point, seems possible. I was thinking more of 1809 as a possible alternative.
Then again, it could also be that the Modern Lifecycle Policy applied to 1803, even if it is out of support.
So the statement in itself could be valid, even if it mentions a no longer supported product.

Could be useful to compare with this page showing the support lifecycle and end of support:
- https://docs

[2020-12-31 19:32] illfated commented on #5156
By the way, it could be useful to get a verification on this answer, just in case it is a typo.

[2020-12-31 19:36] illfated commented on #5156
It is also useful to remember some (or all) of the terms in the [Modern Lifecycle Policy](https://docs.microsoft.com/en-us/lifecycle/policies/modern):

[2021-01-01 16:07] vixenathena commented on #5136
Trond,

I am so sorry, I wasn't aware that the issues were just for the
documentation. Thank you for making me aware. Also, for letting me know how
to format the error. Yeah, I will open up a case with Microsoft Support and
if there is something that needs to be updated in the documentation, I will
open up an issue on the same github page.

Best,
Nabeelah.

On Sun, Dec 27, 2020 at 1:15 AM Trond B.

[2021-01-01 22:44] illfated commented on #5136
Thank you for understanding. Best of luck with your support call and troubleshooting. Also, happy new year. 🙂 🥳

[2021-01-01 22:45] illfated commented on #5136
Closing this ticket now. Feel free to open a new ticket when you have news about any discrepancies in the documentation, so we can work on corrections.

Thank you for joining in to make the documentation better! 👍🏻

[2021-01-01 22:45] illfated commented on #5136
#please-close

[2021-01-01 22:45] #5136 closed

[2021-01-01 23:28] illfated commented on #5059
@jeffpatt24 : Would you be available to advise what would be the proper documentation process here?
Or do you prefer to have this conversation internally, with the MS Docs team members?

( 🙂 Happy new year, by the way. )

[2021-01-02 04:43] illfated commented on #5099
New year, new attempt. Taking the chance that it will be more stable this time.

[2021-01-02 04:57] illfated commented on #5099
There you go. PR #5163 is ready for review, comments, and suggestions.

[2021-01-04 13:25] Olinsa67 commented on #5156
Hello,
But the phrase version 1803 and later are governed by the Modern Lifecycle Policy, makes me think all versions are governed, but it is not the case of the 1809... So it is very confusing for the reader.

[2021-01-04 15:20] CarlFink opened #5164 "Not being updated?"
Looks as if this has not been updated for the current Ubuntu. Deliberate choice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25943cc5-9927-5ca7-b9db-4c1d398726c5
* Version Independent ID: ae5bf48b-26cf-b5c8-22c8-68fa9a70258f
* Content: [Linux Software Repository for Microsoft Products](https://docs.microsoft.com/en-

[2021-01-04 16:20] illfated commented on #5164
@CarlFink : Things Take Time. That is true also for this documentation. Unless something is really factually broken, it won't have much priority to be updated.

Do you have suggestions for how the page document can be improved?

[2021-01-04 16:36] CarlFink commented on #5164
@illfated, the page itself is fine. it's that the repositories haven't been updated that seems odd to me.

[2021-01-04 16:54] illfated commented on #5164
Very well. Maybe you have got a point. I am not familiar enough with Linux to tell if it is important or not.

@konstruktoid : Can I ask you to comment on this question and the page content?

[2021-01-04 17:15] tomohulk opened #5165 "FoD Offline ISO not available on the Evaluation Site"
Page states that the offline ISO can be downloaded via the Evaluation Center page, I cannot find the ISO anywhere if this is true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0017894c-49f1-6114-28cf-9e27411ee9d8
* Version Independent ID: d871e63a-6ad0-fbda-757f-95baef0301a8
* Content: [Server Core App Compatibility

[2021-01-04 17:48] konstruktoid commented on #5164
Which version of Ubuntu are you referring to @CarlFink? https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software contains the three latest LTS releases.

[2021-01-04 17:52] CarlFink commented on #5164
LTS releases, yes. Most desktop users don't appear to use LTS, and 20.10 is very widely used.

If the policy is LTS only, then that's reasonable, and I just didn't realize it.

[2021-01-04 18:23] jeffpatt24 commented on #5059
The steps to remove features on Windows Server is covered in the following doc: https://docs.microsoft.com/en-us/windows-server/administration/server-manager/install-or-uninstall-roles-role-services-or-features#remove-roles-role-services-and-features-by-using-the-remove-roles-and-features-wizard

Let me know if you're looking for additional information.

[2021-01-04 18:43] illfated commented on #5164
Thank you for the feedback, both of you. Good to get feedback from real users of the software involved.

While I don't know if it is a fact, it is a probable reason. Knowing that the content is for IT Pros and users who often need to use stable long-time solutions, I find it very likely. I guess it would take someone like an influential Microsoft solution user in a sizeable scenario to ask for a u

[2021-01-04 18:52] illfated commented on #5156
Fair point. I did not know if 1809 was covered or not, so if it is easy to confirm that 1809 is **not** covered by the Modern Lifecycle Policy, I guess we should suggest the change for that sentence to read "Windows Server, version **1903** and later are governed by the Modern Lifecycle Policy."

(Based on my experience with issue tickets in this repository, it is often quicker to get response by

[2021-01-04 19:06] illfated commented on #5059
@AndrejsSo : Does the linked document above answer your question, or do you still find that this information should be available from the page you commented on?

Thank you for contributing to make improvements to the documentation. 👍🏻

[2021-01-04 19:42] illfated commented on #5165
Maybe it has changed to be available only from the VLSC page or with a Microsoft authenticated customer login. I can only confirm that the Evaluation Center only lists the default server downloads for 180 day trial or purchase.

[2021-01-04 19:43] tomohulk commented on #5165
fair enough, but the doc should be updated to reflect that, I wasted a bit of time searching round the eval site for content that doesn't exist.

[2021-01-04 19:48] illfated commented on #5165
True, I also searched a little bit, but could only find reddit.com pages and Microsoft Answers/MSDN/TechNet pages dated a year or more back. I guess this page should be changed to not have Evaluation Center suggested, or prefaced with a limitation of availability only to Enterprise customers.

[2021-01-04 20:38] konstruktoid commented on #5164
Continuing with what @illfated said; the pages also states that `The Production sub-repository is designated for packages intended for use in production` and in many cases only LTS server releases as classified as such.
Even though the page only lists LTS releases, there are more available at https://packages.microsoft.com/ubuntu

Related issue: https://github.com/MicrosoftDocs/windowsserverdocs/i

[2021-01-04 20:45] konstruktoid commented on #4609
Fixed by https://github.com/MicrosoftDocs/windowsserverdocs/commit/fb78b64c3a2ffc434c1e04d16cf7804e9c00df81?

[2021-01-04 20:47] konstruktoid commented on #4609
Duplicate of #4498

[2021-01-04 20:48] konstruktoid commented on #4498
Fixed by https://github.com/MicrosoftDocs/windowsserverdocs/commit/fb78b64c3a2ffc434c1e04d16cf7804e9c00df81?

[2021-01-04 20:53] konstruktoid commented on #4229
Hi, I believe this was fixed with https://github.com/MicrosoftDocs/windowsserverdocs/commit/c08ff2b68f01df2c40942f4d6c76051017ee0680

[2021-01-04 20:58] #4498 closed

[2021-01-04 21:38] illfated commented on #4609
Tagged as duplicate ticket.

#please-close

[2021-01-04 21:38] #4609 closed

[2021-01-04 21:46] illfated commented on #4229
(or the closing commit hash: https://github.com/MicrosoftDocs/windowsserverdocs/commit/b18effcba95c85d6e08e7d29808b576491a5352e )

[2021-01-04 22:04] eross-msft commented on #5139
@Archov @illfated  I can update the compact options and text, based on what you have above. It won't be for a few days, but I'll get to it as soon as I can. Thank you for including the text here, it's much appreciated.

With that being said, this reference content is slow to update since there are no actual owners of the articles. Because of that, we always recommend looking at the command line he

[2021-01-04 22:04] eross-msft commented on #5139
Closing since it will be addressed this week.  #please-close

[2021-01-04 22:04] #5139 closed

[2021-01-05 10:05] Olinsa67 commented on #5156
OK, thank you, so you do a pull request on this subject ?

[2021-01-05 11:37] illfated commented on #5156
Sure, it is fairly easy, especially with so little change to implement.

[2021-01-05 11:53] illfated commented on #5156
There you go. PR #5166 is ready for review, comments, and suggestions.

[2021-01-05 14:52] Kilo1977 opened #5167 "Steps 19, 20, and 21 wrong."
Hi,

The steps regarding SSTP, L2TP and PPTP are wrong and needs to be exact opposite of what they are.
L2TP and PPTP are obsolete protocols and especially SSTP needs to be enabled as SSTP Fallback for IKEv2 VPN is the standard for AlwaysON VPN now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f49053-d4b0-03cd-2572

[2021-01-05 15:44] illfated commented on #5167
Is this true only for Windows Server 2019, or are the earlier supported versions of Windows Server also affected?

[2021-01-05 15:48] illfated commented on #5167
Note to self: When following up on this ticket, we may also want to combine it with the content
reported in ticket #4191 (**Missing config: Allow machine certificate authetication for IKEv2**).

[2021-01-05 15:48] illfated commented on #4191
(ref. #5167 )

[2021-01-05 18:25] #5123 closed

[2021-01-05 18:40] #3249 closed

[2021-01-05 18:41] #2408 closed

[2021-01-05 18:47] #4454 closed

[2021-01-05 18:50] luisfeliz79 opened #5168 "Incorrect information regarding "Multiple token signing certs""
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/design/token-signing-certificates#deployment-considerations-for-token-signing-certificates

This page indicates that you can have multiple token signing certificates per AD FS server.

I don't believe this is correct.   You can only have one global token signing cert set as Primary and must be installed to all AD FS
servers.

There is

[2021-01-05 18:56] Kilo1977 commented on #5167
I agree. This should be somewhere between step 13 and 14

[2021-01-05 18:59] Kilo1977 commented on #5167
Well, as I gather AlwaysOn VPN is for Windows 10 only and User Tunneling utilizes IKEv2 with SSTP fallback  and  Device Tunneling utilizes IKEv2 only (Hopefully MS will soon include SSTP as fallback for Device Tunnelling as well as AlwaysON VPN would be the most powerfull VPN solution for Windows then!), I really don't see the need to include configuring ports for SSTP or L2TP for any reason.

[2021-01-05 19:12] Teresa-Motiv commented on #5167
There have been a number of issues reported for this article and several related articles. However, I'm not actually the owner of these docs and I'm not sure how I ended up listed as such. I've contacted someone to try to find the correct owner.

[2021-01-05 20:22] konstruktoid commented on #4967
That is correct, and most possibly due to the fact most Linux distribution has dropped, or is dropping, support for i386.

[code]

[2021-01-05 20:25] konstruktoid commented on #5134
Related: #3635

[2021-01-05 20:25] konstruktoid commented on #5164
Related: #3635

[2021-01-05 23:07] #5023 closed

[2021-01-05 23:22] illfated commented on #5134
(ref. #5169 )

[2021-01-05 23:58] illfated commented on #4967
@konstruktoid : Thank you for the perfectly good answer. It is true, more and more software solutions are going in the direction of supplying 64-bit versions only, especially for IT Pro and Server usage.

@UsielAmaral : Is it fair to say that your question has been answered, so we can go ahead and close this ticket?

[2021-01-06 01:35] vultureman commented on #4249
Hi, to be more clear on what I'm saying:

The old Server 2003 era KB article link I provided in the original post doesn't use a dedicated group for folder access, they just tell people to use "Everyone" instead. If you can replace their use of "Everyone" with "Security group of users needing to put data on share (Folder Redirection Users)" that you had in this newer documentation, you'd see that t